<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
{% if PageLayout.author is not empty %}
    <meta name="author" content="{{ PageLayout.author }}">
{% endif %}
{% if PageLayout.description is not empty %}
    <meta name="description" content="{{ PageLayout.description }}">
{% endif %}
{% if PageLayout.keyword is not empty %}
    <meta name="keywords" content="{{ PageLayout.keyword }}">
{% endif %}
{% if PageLayout.meta_robots is not empty %}
    <meta name="robots" content="{{ PageLayout.meta_robots }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if PageLayout.meta_tags is not empty %}
    {{ PageLayout.meta_tags|raw }}
{% endif %}
{% block meta_tags %}{% endblock %}
<link rel="icon" href="{{ app.config.front_urlpath }}/img/common/favicon.ico">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/style.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/slick.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/default.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/common.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">

<!-- for original theme CSS -->
{% block stylesheet %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ app.config.front_urlpath }}/js/vendor/jquery-1.11.3.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"><\/script>')</script>
<script src="{{ app.config.user_data_urlpath }}/js/common.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>

{# ▼Head COLUMN #}
{% if PageLayout.Head %}
    {# ▼上ナビ #}
    {{ include('block.twig', {'Blocks': PageLayout.Head}) }}
    {# ▲上ナビ #}
{% endif %}
{# ▲Head COLUMN #}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106471387-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-106471387-1');
</script>

</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">
    <div id="wrapper">
{#
        <header id="header">
#}
            {{ include('Block/air_access_header.twig') }}

            {% block main %}{% endblock %}

            {{ include('Block/air_access_footer.twig') }}
{#
        </header>
#}
    </div>
<div class="overlay"></div>

<script src="{{ app.config.front_urlpath }}/js/vendor/bootstrap.custom.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/vendor/slick.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/eccube.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script>
$(function () {
    $('#drawer').append($('.drawer_block').clone(true).children());
    $.ajax({
        url: '{{ app.config.front_urlpath }}/img/common/svg.html',
        type: 'GET',
        dataType: 'html',
    }).done(function(data){
        $('body').prepend(data);
    }).fail(function(data){
    });
});
</script>
{% block javascript %}{% endblock %}
</body>
</html>
