{% extends 'default_frame.twig' %}

{% set menus = ['benefit', 'benefit_edit'] %}

{% block title %}優待番号管理{% endblock %}
{% block sub_title %}優待番号登録{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/admin/common.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
    <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/admin/manage_ticket.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment-ja.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function() {

            var inputDate = document.createElement('input');
            inputDate.setAttribute('type', 'date');
            if (inputDate.type !== 'date') {
                $('input[id$=_from]').datetimepicker({
                    locale: 'ja',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    showTodayButton: true
                });

                $('input[id$=_to]').datetimepicker({
                    locale: 'ja',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    showTodayButton: true
                });
            }
        });

        $('#entry').on("click",function(){
            if($('#admin_benefit_benefit_code').val() != $('#repeated_benefit_code').val()){
                alert('優待番号と確認用優待番号が一致しません');
                return false;
            }
            else if($('#admin_benefit_password').val() != $('#repeated_password').val()){
                alert('パスワードと確認用パスワードが一致しません');
                return false;
            }
            else{
                $('body').append('<div class="prevention-masked"></div>');  //-- 画面をマスクする
                document.benefit_form.submit();
            }
        });
    </script>
{% endblock javascript %}

{% block main %}

    <div class="wrapper">
        <div class="contents">
            <div class="manage">
                <div class="manage__wrapper">
                    <h1 class="manage__main-title">優待券管理</h1>

                    <form name="benefit_form" role="form" id="benefit_form" method="post" action="{%- if Benefit.id %}{{ url('admin_benefit_edit', { id : Benefit.id }) }}{% else %}{{ url('admin_benefit_new') }}{% endif -%}">
                        {{ form_widget(form._token) }}

                        <div class="manage-form__wrapper">
                            <div class="manage-form__caution show-error">
                            {#
                                <p>ユーザー名またはパスワードが違います。</p>
                            #}
                            </div>

                            <table class="manage-form__table">
                                <tr class="product-code">
                                    <th>商品コード</th>
                                    <td>
                                        {{ form_widget(form.product_code) }}
                                        {{ form_errors(form.product_code) }}
                                    </td>
                                </tr>
                                <tr class="preferential-num">
                                    <th rowspan="2">優待番号</th>
                                    <td>
                                        {{ form_widget(form.benefit_code) }}
                                        {{ form_errors(form.benefit_code) }}
                                    </td>
                                </tr>
                                <tr class="preferential-num">
                                    <td>
                                        <input type="text" id="repeated_benefit_code" placeholder="確認の為、優待番号を再度入力してください" oncopy="return false" onpaste="return false" oncontextmenu="return false" />
                                    </td>
                                </tr>
                                <tr class="password-code">
                                    <th rowspan="2">パスワード</th>
                                    <td>
                                        {{ form_widget(form.password) }}
                                        {{ form_errors(form.password) }}
                                    </td>
                                </tr>
                                <tr class="preferential-num">
                                    <td>
                                        <input type="text" id="repeated_password" placeholder="確認の為、パスワードを再度入力してください" oncopy="return false" onpaste="return false" oncontextmenu="return false" />
                                    </td>
                                </tr>
                                <tr class="order-num">
                                    <th>受注番号</th>
                                    <td>
                                        {{ form_widget(form.order_id) }}
                                        {{ form_errors(form.order_id) }}
                                    </td>
                                </tr>
                                <tr class="due-date">
                                    <th>期限</th>
                                    <td>
                                        <div class="form-group range">
                                            {{ form_widget(form.exdate_from, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(form.exdate_to, {'attr': {'class': 'input_cal'}}) }}
                                        </div>
                                            {{ form_errors(form.exdate_from) }}
                                            {{ form_errors(form.exdate_to) }}
                                    </td>
                                </tr>
                                <tr class="comp-date">
                                    <th>完了日</th>
                                    <td>
{#
{{ dump(form.done_date.vars.data|date('Y/m/d H:i:s')) }}
#}
                                    {% if form.done_date.vars.value.date.year == "" and form.done_date.vars.value.date.month == "" and form.done_date.vars.value.date.day == "" %}
                                        <label for="mail_delivered">メール送信完了</label><input type="checkbox" id="mail_delivered" name="mail_delivered" value="1" />
                                    {% else %}
                                        <label for="mail_delivered">メール送信完了</label><input type="checkbox" id="mail_delivered" name="mail_delivered" value="1" checked="checked" />
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr class="delete-flag">
                                    <th>削除フラグ</th>
                                    <td>
                                        <input type="checkbox" id="delete_flag" name="delete_flag" value="1" />
                                    </td>
                                </tr>
                            </table>

                            <div class="manage-form__submit-btn">
{#
                                <button type="submit" class="btn btn-primary btn-block btn-lg prevention-btn prevention-mask" >商品を登録</button>
#}
                                <input type="button" id="entry" class="btn btn-primary btn-block btn-lg" value="優待番号を登録" />
                            </div>
                        </div>
                    </form>
                </div>
                    <p><a href="{{ url('admin_benefit') }}">検索画面に戻る</a></p>
            </div>
        </div>
    </div>

{% endblock %}
