{% extends 'default_frame.twig' %}

{% set menus = ['benefit', 'benefit_master'] %}

{% block title %}優待番号管理{% endblock %}
{% block sub_title %}優待番号マスター{% endblock %}

{% form_theme searchForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/admin/common.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
    <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/admin/manage_ticket.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment-ja.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function() {

            var inputDate = document.createElement('input');
            inputDate.setAttribute('type', 'date');
            if (inputDate.type !== 'date') {
                $('input[id$=_start]').datetimepicker({
                    locale: 'ja',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    showTodayButton: true
                });

                $('input[id$=_end]').datetimepicker({
                    locale: 'ja',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    showTodayButton: true
                });
            }

            // フォーム値を確認し、アコーディオンを制御
            // 値あり : 開く / 値なし : 閉じる
            (function($, f) {
                //フォームがないページは処理キャンセル
                var $ac = $(".accpanel");
                if (!$ac) {
                    return false
                }

                //フォーム内全項目取得
                var c = f();
                if (c.formState()) {
                    if ($ac.css("display") == "none") {
                        $ac.siblings('.toggle').addClass("active");
                        $ac.slideDown(0);
                    }
                } else {
                    $ac.siblings('.toggle').removeClass("active");
                    $ac.slideUp(0);
                }
            })($, formPropStateSubscriber);
        });

        //----------------------------------------
        // 削除
        //----------------------------------------
        function deleteBenefit() {  //alert('deleteBenefit');

            var delete_ids = new Array();
            $('#benefit_table tbody > tr').each(
                function() {
                    if($(this).find('input.deleteBenefit').prop('checked')){
                        var splits = $(this).find('input.deleteBenefit').attr('id').split('_'); //-- 'delete_flag_{id}' を想定し '_' で分割
                        if(splits.length == 3){
                            delete_ids.push(splits[2]);
                        }
                    }
                }
            )

            postForm($('#delete_url').val(), {
                deleteIds : delete_ids,
            });
        }

        //----------------------------------------
        // メール送信完了
        //----------------------------------------
        function deliveredBenefit() {   //alert('deliveredBenefit');

            var delivered_ids = new Array();
            $('#benefit_table tbody > tr').each(
                function() {
                    if($(this).find('input.deliveredBenefit').prop('checked')){
                        var splits = $(this).find('input.deliveredBenefit').attr('id').split('_');  //-- 'mail_delivered_{id}' を想定し '_' で分割
                        if(splits.length == 3){
                            delivered_ids.push(splits[2]);
                        }
                    }
                }
            )

            postForm($('#delivered_url').val(), {
                deliveredIds : delivered_ids,
            });
        }

        //----------------------------------------
        // ポスト
        //----------------------------------------
        function postForm(url, data) {  //alert(url);
            var $form = $('<form/>', {'action': url, 'method': 'post'});
            for(var key in data) {
                $form.append($('<input/>', {'type': 'hidden', 'name': key, 'value': data[key]}));
            }
            $form.appendTo(document.body);
            $form.submit();
        }
    </script>
{% endblock javascript %}

{% block main %}

    <input type="hidden" id="delete_url" value="{{ url('admin_benefit_delete') }}" />
    <input type="hidden" id="delivered_url" value="{{ url('admin_benefit_delivered') }}" />

    <!--検索条件設定テーブルここから-->
    <div id="search_wrap" class="search-box">
        <form name="search_form" id="search_form" method="post" action="">
        {{ form_widget(searchForm._token) }}

            <div id="search_box" class="row">
                <div id="search_box_main" class="col-md-12 accordion">
                {{ form_widget(searchForm.id, { attr: { placeholder: '商品コード・優待番号・受注番号', class : 'input_search' } } ) }}

                    <a id="search_box_main__toggle" href="#" class="toggle{% if active %} active{% endif %}"><svg class="cb cb-minus"> <use xlink:href="#cb-minus"/></svg> <svg class="cb cb-minus"> <use xlink:href="#cb-minus"/></svg></a>

                    <div id="search_box_main__body" class="search-box-inner accpanel" {% if active %} style="display: block;"{% endif %}>
                        <div class="row">
                            <div id="search_box_main__body_inner" class="col-sm-12 col-lg-10 col-lg-offset-1 search">
                                <div class="col-xs-12">
                                    <div id="search_box_main__sex" class="form-group">
                                        <label>メール送信</label>
                                        <div>
                                        {% if undone == '1' %}
                                            <label><input type="checkbox" id="undone" name="undone" value="1" checked="checked"/>&nbsp;未完了</label>
                                        {% else %}
                                            <label><input type="checkbox" id="undone" name="undone" value="1" />&nbsp;未完了</label>
                                        {% endif %}
                                            &nbsp;&nbsp;
                                        {% if done == '1' %}
                                            <label><input type="checkbox" id="done" name="done" value="1" checked="checked"/>&nbsp;完了</label>
                                        {% else %}
                                            <label><input type="checkbox" id="done" name="done" value="1" />&nbsp;完了</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.row -->

                        <div class="row">
                            <div id="search_box_main__body_inner" class="col-sm-12 col-lg-10 col-lg-offset-1 search">
                                <div id="search_box_main__birth" class="col-xs-12 col-sm-12 col-md-6">
                                    <label>期限</label>
                                    <div class="form-group range">
                                        {{ form_widget(searchForm.ex_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(searchForm.ex_end, {'attr': {'class': 'input_cal'}}) }}
                                    </div>
                                </div>

                                <div id="search_box_main__last_buy" class="col-xs-12 col-sm-12 col-md-6">
                                    <label>完了日</label>
                                    <div class="form-group range">
                                        {{ form_widget(searchForm.done_start, {'attr': {'class': 'input_cal'}}) }} ～ {{ form_widget(searchForm.done_end, {'attr': {'class': 'input_cal'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.row -->

                        <div class="row">
                            <div id="search_box_main__clear" class="col-xs-12 col-sm-12">
                                <p class="text-center"><a href="#" class="search-clear">検索条件をクリア</a></p>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
            </div>

            <div id="search_box_footer" class="row btn_area">
                <div id="search_box_footer__button_area" class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
                    <button type="submit" class="btn btn--orange btn-block btn-lg">
                        検索する <svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right"></svg>
                    </button>
                </div>
            </div>

        </form>
    </div>
    <!--検索条件設定テーブルここまで-->

{% if pagination %}
    <div id="result_list" class="row">
        <div class="col-md-12">
            <div id="result_list_main" class="box">
            {% if pagination|length > 0 %}
                <div class="wrapper">
                    <div class="contents">
                        <div class="manage">
                            <div class="manage__wrapper">

                                <h1 class="manage__main-title">優待券一覧</h1>

                                <div class="manage-list">
                                    <div class="manage-list__wrapper">

                                        <ul class="manage-list__filter">
                                            <li>フィルター</li>
                                            <li><a href="">すべて</a></li>
                                            <li><a href="">完了</a></li>
                                            <li><a href="">未完了</a></li>
                                            <li><a href="">在庫</a></li>
                                            <li><span>検索結果 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</span> が該当しました</li>
                                        </ul>

                                        <table class="manage-list__table" id="benefit_table">
                                            <thead>
                                                <tr>
                                                    <th>商品コード</th>
                                                    <th>優待番号</th>
                                                    <th>受注番号</th>
                                                    <th>期限</th>
                                                    <th>完了日</th>
                                                    <th><input type="button" id="delete_benefit" name="delete_benefit" onclick="deleteBenefit();" value="削除"></th>
                                                    <th><input type="button" id="delevered_benefit" name="delevered_benefit" onclick="deliveredBenefit();" value="メール送信完了"></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% for Benefit in pagination %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ url('admin_benefit_edit', { id : Benefit.id }) }}">
                                                            {{ Benefit.product_code }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ url('admin_benefit_edit', { id : Benefit.id }) }}">
                                                            {{ Benefit.benefit_code }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ url('admin_benefit_edit', { id : Benefit.id }) }}">
                                                            {{ Benefit.order_id }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ Benefit.exdate_from|date('Y/m/d') }} 00:00:00 〜 {{ Benefit.exdate_to|date('Y/m/d') }} 00:00:00
                                                    </td>
                                                    <td>
                                                    {% if Benefit.done_date != null %}
                                                        {{ Benefit.done_date|date('Y/m/d H:i:s') }}
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="deleteBenefit" id="delete_flag_{{ Benefit.id }}" name="delete_flag_{{ Benefit.id }}" value="">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="deliveredBenefit" id="mail_delivered_{{ Benefit.id }}" name="mail_delivered_{{ Benefit.id }}" value="">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if pagination.totalItemCount > 0 %}
                {% include "pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_benefit_page' } %}
                {% endif %}
            {% else %}
                <div id="result_list__header" class="box-header with-arrow">
                    <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
                </div>
{#
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="link-with-bar">
                                            <li>
                                                {% if page_status is null %}
                                                    <a>すべて</a>
                                                {% else %}
                                                    <a href="{{ path('admin_benefit_page', {'page_no': page_no} ) }}">すべて</a>
                                                {% endif %}
                                            </li>
                                            {% for disp in disps %}
                                                <li>
                                                    {% if page_status == disp.id %}
                                                        <a>{{ disp.name|e }}</a>
                                                    {% else %}
                                                        <a href="{{ path('admin_benefit_page', {'page_no': page_no, 'status': disp.id} ) }}">{{ disp.name|e }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            <li>
                                                {% if page_status == app.config.admin_product_stock_status %}
                                                    <a>{{ app.translator.trans('admin.product.search.stock') }}</a>
                                                {% else %}
                                                    <a href="{{ path('admin_benefit_page', {'page_no': page_no, 'status': app.config.admin_product_stock_status} ) }}">{{ app.translator.trans('admin.product.search.stock') }}</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
#}
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
