{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/cart.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/common.js"></script>
	<script src="{{ app.config.user_data_urlpath }}/js/cart.js"></script>

<script>

    //----------------------------------------
    // 数量変更
    //----------------------------------------
    //$("[id^=quantity_]").on("change",function(){
	function changeQuantity(id) {	//alert(id);
/***
        var quantity = $(this).val();    //alert(quantity);
        var id = $(this).attr("id").match(/[0-9]+/);    //alert(id);
        var productClassId = $('#product_' + id + '_class_id').val();    //alert(productClassId);
***/
        var quantity = $('#quantity_' + id).val();    //alert(quantity);
        var productClassId = $('#product_' + id + '_class_id').val();    //alert(productClassId);

        var href = "{{ url('cart') }}" + '/setQuantity/' + productClassId + '/' + quantity;    //alert(href);
        $('#quantity_change_' + id).attr('href', href);    //alert($('#quantity_change_' + id).attr('href'));
        $('#quantity_change_' + id)[0].click();
	}
    //});
</script>

{% endblock %}

{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
<div class="wrapper">
	<div class="contents">
		<div class="cart">
			<div class="cart__wrapper">

			{% if Cart.CartItems|length > 0 %}
				<form name="form" id="form_cart" method="post" action="{{ url('cart') }}">
					<input type="hidden" name="previous_url" id="previous_url" value="" >
					<table class="cart__table">
						<thead>
							<tr>
								<td colspan="6" class="cart__table__top taC">カゴの中身の合計は、{{ Cart.total_price|number_format }}円です。</td>
							</tr>
							<tr>
								<th>商品画像</th>
								<th>商品名</th>
								<th>単価</th>
								<th>数量</th>
								<th>税抜価格</th>
								<th>取消</th>
							</tr>
						</thead>

						<tbody>
						{% for CartItem in Cart.CartItems %}
						{% set ProductClass = CartItem.Object %}
						{% set Product = ProductClass.Product %}
							<tr id="product_{{ Product.id }}">
								<td class="cart__table__img">
									<img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}">
								</td>
								<td class="cart__table__name">{{ Product.name }}</td>
								<td class="cart__table__price taR">{{ CartItem.price|number_format }}円</td>
								<td class="cart__table__number">
{#
									<select id="quantity_{{ Product.id }}" name="quantity" required="required" class="form-control">
									{% for i in 1..10 %}
									{% if i == CartItem.quantity %}
										<option value="{{ i }}" selected>{{ i }}</option>
									{% else %}
										<option value="{{ i }}">{{ i }}</option>
									{% endif %}
									{% endfor %}
									</select>
#}

									<input type="text" class="js-spin__input" id="quantity_{{ Product.id }}" name="quantity" required="required" class="form-control" value="{{ CartItem.quantity }}">
                                    <div class="js-spin__btn--add">＋</div><div class="js-spin__btn--sub">−</div>

									<div style="display:none">
										<a id="quantity_change_{{ Product.id }}" href="" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false"></a>
										<input type="hidden" id="product_{{ Product.id }}_class_id" value="{{ ProductClass.id }}" />
									</div>
								</td>
								<td class="cart__table__tax-excluded taR">{{ CartItem.total_price|number_format }}円</td>
								<td class="cart__table__cancel">
									<a href="{{ url('cart_remove', {'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="カートから商品を削除してもよろしいですか?">
										<div class="btn btn--blue">削除</div>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>

						<tfoot>
							<tr>
								<td colspan="4" class="taR">小計</td>
								<td colspan="2" class="taR">{{ Cart.total_price|number_format }}円</td>
							</tr>
							<tr>
								<td colspan="4" class="taR">合計</td>
								<td colspan="2" class="taR">{{ Cart.total_price|number_format }}円</td>
							</tr>
						</tfoot>
					</table>
				</form>
			{% else %}
				<div id="cart_box__message" class="message">
					<p class="errormsg bg-danger">
						<svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>現在カート内に商品はございません。
					</p>
				</div>
			{% endif %}

			</div>
		</div>

		<div class="confrim">
			<div class="confrim__wrapper">
				<div class="confrim__text">
					上記の内容でよろしければ<br> 「購入手続きへ」ボタンをクリックしてください。
				</div>
				<ul>
					<li class="confrim__btn--back">
						<a href="{{ url('product_list') }}">
							<div class="btn btn--blue">▶　商品ページにもどる</div>
						</a>
					</li>
					<li class="confrim__btn--buy">
						<a href="{{ url('cart_buystep') }}">
							<div class="btn btn--orange">▶　購入手続きへ</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<!--===== Contents =====-->
</div>
{% endblock %}
