{% extends 'default_frame.twig' %}

{% set menus = ['order', 'order_edit'] %}

{% block title %}受注管理{% endblock %}
{% block sub_title %}優待番号メール送信{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
$(function() {
});
</script>
{% endblock javascript %}

{% block main %}
<div class="row" id="aside_wrap">
    <form name="form1" method="post" action="?">
    <input type="hidden" name="modal" value="">
    {{ form_widget(form._token) }}
        <div id="detail_wrap" class="col-md-12">
            {% set delivered = 0 %}

            <div class="col_inner">
                <div id="number_info_box" class="box no-header">
                    <div id="number_info_box__body" class="box-body">
                        <div class="row">
                            <div id="number_info_box__order_status" class="box-header">
                                <h4 class="box-title">注文番号 <span class="number">{{ Order.id }}</span></h4>
                            {% for orderDetailForm in form.OrderDetails %}
                                <div id="product_info_list__item--{{ loop.index }}" class="item_box">
                                    {{ form_widget(orderDetailForm.product_name) }}
                                    {{ form_widget(orderDetailForm.product_code) }}
                                    <div id="product_info_list__item_detail--{{ loop.index }}" class="item_detail">
                                        <div id="product_info_list__detail_name--{{ loop.index }}" class="item_name_area">
                                            <strong id="product_info_list__product_name--{{ loop.index }}" class="item_name">{{ orderDetailForm.vars.value.product_name }}</strong><br>
                                            <span id="product_info_list__product_code--{{ loop.index }}" class="item_id small">{{ orderDetailForm.vars.value.product_code }}</span>
                                            <span id="product_info_list__class_category_name--{{ loop.index }}" class="item_pattern small">
                                                {% if orderDetailForm.vars.value.class_category_name1 is not empty %}
                                                / (
                                                    {{ orderDetailForm.vars.value.class_name1 }}：
                                                    {{ orderDetailForm.vars.value.class_category_name1 }}
                                                    {% if orderDetailForm.vars.value.class_category_name2 is not empty %}
                                                        /
                                                        {{ orderDetailForm.vars.value.class_name2 }}：
                                                        {{ orderDetailForm.vars.value.class_category_name2 }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <br />
                                        <div>
                                            <span id="product_info_list__quantity--{{ loop.index }}" class="item_quantity">
                                                数量：{{ orderDetailForm.vars.value.quantity }}
                                            </span>
                                        </div>
                                        <br />
                                        <div>
                                            <span id="product_info_list__quantity--{{ loop.index }}" class="item_quantity">
                                                優待番号：
                                            {% if Benefits[orderDetailForm.vars.value.product_code] is null %}
                                                <span style="color:red;">優待番号を取得出来ませんでした</span>
                                            {% else %}
                                                <br />
                                            {% for Benefit in Benefits[orderDetailForm.vars.value.product_code] %}
                                                <br />
                                                <span style="margin-left:20px;">{{ Benefit.benefit_code }}</span>
                                            {% endfor %}
                                            {% set delivered = 1 %}
                                            {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                        {% if delivered == 1 %}
                            <div id="number_info_box__order_status" class="box-header">
                                <h4 class="box-title"></h4>
                                <div id="product_info_list__item"  class="item_box">
                                    <div id="product_info_list__item_detail" class="item_detail">
                                        上記、優待番号情報を&nbsp;{{form.vars.value.email}}&nbsp;宛にメール送信しました<br/>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        </div>
                    </div><!-- /.box-body -->
            </div>

            <div id="detail__back_button" class="row hidden-xs hidden-sm">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    {% if id is not null %}
                        <p><a href="{{ url('admin_order_page', { page_no: app.session.get('eccube.admin.order.search.page_no')|default('1') }) }}?resume=1">戻る</a></p>
                    {% endif %}
                </div>
            </div>

        </div><!-- /.col -->

    </form>
</div>
{% endblock %}
