{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/input_done.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>

	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% block main %}
	<div class="contents">
		<div class="done">
			<div class="done__wrapper">
				<h1 class="done__main-title">クレジット決済エラー</h1>
				<div class="done__text">
					<h1>クレジット決済時にエラーが発生しました。</h1>
					<p>
{#
						以下のエラーコードにてお問い合わせくださいますよう、お願いいたします。<br />
						<br />
#}
						<span>受注ID：</span>{{ orderId }}
						<br />
{#
						<span>エラーコード：</span>{{ errors }}
#}
						<span>エラーメッセージ：</span>
						{% for errorMessage in errorMessages %}
						<br />
						<span style="margin-left:20px;">{{ errorMessage }}</span>

						{% endfor %}
					</p>
					<div class="done__btn--regist">
						<a href="{{ url('top') }}">
							<div class="btn btn--orange">▶ サイトTOPへ</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--===== Contents =====-->
{% endblock %}