{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/input_done.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>

	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% block main %}
	<div class="contents">
		<div class="done">
			<div class="done__wrapper">
				<h1 class="done__main-title">入力完了</h1>
				<div class="done__text">
					<h1>お客様の情報入力が完了いたしました。</h1>
					<p>
						ご購入ありがとうございます。<br>
						カード決済の確認が取れ次第、ご入力いただいたメールアドレスに【株主優待番号】をお送りいたします。<br>
						（ANA株主優待番号の場合「登録用パスワード」も一緒に送付いたします。）
					</p>
					<div class="done__btn--regist">
						<a href="{{ url('top') }}">
							<div class="btn btn--orange">▶ サイトTOPへ</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--===== Contents =====-->
{% endblock %}
