{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/input_confirm.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/common.js"></script>

	<script>
/***
	$(function() {
		$('#paymentSelector').change(function() {
			var paymentId = $(this).val();
 
			if(paymentId == '5'){
				$('#creditCard').show();
			}
			else{
				initCreditCard();
			}
		});
	});

	function initCreditCard() {
		$('#creditCard').hide();
		$('#cardNumber').val('');
		$('#YY option:first').prop('selected', true);
		$('#MM option:first').prop('selected', true);
	}
***/
	</script>
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div class="wrapper">
	<div class="contents">

		<form name="form1" id="form1" method="post" action="{{ url('input') }}">
			{{ form_widget(form._token) }}

			<div class="input">
				<div class="input__wrapper">
					<div class="input__title">お客様情報確認</div>

					<table class="input__table">
						<tr>
							<th>{{ form_label(form.name) }}</th>
							<td>
								<label class="input__label--name">姓</label>
								{{ form_widget(form.name.name01) }}
							</td>
							<td>
								<label class="input__label--name">名</label>
								{{ form_widget(form.name.name02) }}
							</td>
						</tr>

						<tr>
							<th>{{ form_label(form.kana) }}</th>
							<td>
								<label class="input__label--name">セイ</label>
								{{ form_widget(form.kana.kana01) }}
							</td>
							<td>
								<label class="input__label--name">メイ</label>
								{{ form_widget(form.kana.kana02) }}
							</td>
						</tr>

						<tr>
							<th>{{ form_label(form.email) }}</th>
							<td colspan="2">
								{{ form_widget(form.email) }}
							</td>
						</tr>

						<tr>
							<th>{{ form_label(form.repeated_email) }}</th>
							<td colspan="2">
								{{ form_widget(form.repeated_email) }}
							</td>
						</tr>

						<tr>
							<th>{{ form_label(form.tel) }}</th>
							<td colspan="2">
								{{ form_widget(form.tel) }}
							</td>
						</tr>

						<tr>
							<th>{{ form_label(form.receipt) }}</th>
							<td colspan="2">
								{{ form_widget(form.receipt) }}
							</td>
						</tr>

						<tr>
							<th>{{ form_label(form.message) }}</th>
							<td colspan="2">
								{{ form_widget(form.message) }}
							</td>
						</tr>

						<tr>
							<th>お支払い方法</th>
							<td colspan="2">
								<div>
								{{ paymentMethod }}
								</div>
							{% if paymentSelected == 5 %}
								<div id="creditCard" style="margin-top:10px; display:block">
							{% else %}
								<div id="creditCard" style="margin-top:10px; display:none">
							{% endif %}
									<table style="width:80%;">
										<tr>
											<td>カード番号</td>
											<td>
											{{ maskedCardNumber }}
											</td>
										</tr>
									</table>
								</div>



{#
								<div>
									<select id="paymentSelector" name="paymentSelector">
									{% for payment in payments %}
										<option value="{{ payment.id }}">{{ payment.method }}</option>
									{% endfor %}
									</select>
								</div>
								<div id="creditCard" style="margin-top:10px; display:none">
									<table style="width:80%;">
										<tr>
											<td>カード番号</td>
											<td>
												<input type="text" id="cardNumber" name="cardNumber" value="" style="width:80%;" />
											</td>
										</tr>
										<tr>
											<td>有効期限</td>
											<td>
												<select id="YY" name="YY">
												{% for year in "now"|date("Y").."now"|date("Y")+10 %}
													<option value="{{ year|slice(2, 2) }}">{{ year }}年</option>
												{% endfor %}
												</select>
												<select id="MM" name="MM">
												{% for month in 1..12 %}
													<option value="{{ '%02s'|format(month) }}">{{ month }}月</option>
												{% endfor %}
												</select>
											</td>
										</tr>
										<tr>
											<td>セキュリティコード</td>
											<td>
												<input id="securityCode" type="text" name="securityCode" value="" style="width:20%;" />
											</td>
										</tr>
									</table>
								</div>
#}



							</td>
						</tr>
					</table>

					<div class="input__title">【送信】を押す前に必ずご確認ください</div>
					<p class="input__caution">
						入金口座をメールにてお送りいたしますので、「reply@air-accessticket.com」からのメールを受信できるように設定をお願い致します。<br>
						また、お客様のメールアドレスがお間違いのないようお気をつけください。
					</p>
				</div>
				<!--===== .input__wrapper =====-->
			</div>
			<!--===== .input =====-->

			<div class="confrim">
				<div class="confrim__wrapper">
					<!--
					<div class="confrim__text">
						利用規約をお読みになり、ご了解頂いた上で利用規約に同意する<input type="checkbox" /> はい
					</div>
					-->
					<ul>
						<li class="confrim__btn--back">
							<p id="confirm_box__back_button"><button type="submit" class="btn btn--blue btn-block" name="mode" value="back">▶　戻る</button></p>
						</li>
						<li class="confrim__btn--buy">
							<p id="confirm_box__confirm_button"><button type="submit" class="btn btn--orange btn-block" name="mode" value="complete">▶　送信</button></p>
						</li>
					</ul>
				</div>
			</div>

			<input id="top_box__hidden_mode" type="hidden" name="nonmember" value="{{ nonmember }}">
			<input id="top_box__hidden_mode" type="hidden" name="paymentSelected" value="{{ paymentSelected }}">

			<input id="token" type="hidden" name="token" value="{{ token }}">
			<input id="maskedCardNumber" type="hidden" name="maskedCardNumber" value="{{ maskedCardNumber }}">

		</form>

	</div>
	<!--===== Contents =====-->

</div>
{% endblock %}