{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/product.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>
	<script src="{{ app.config.user_data_urlpath }}/js/sp/product.js"></script>	
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% set body_class = 'product_page' %}

{% block main %}
	<div class="contents">

	{% for key, Product in pagination %}
		<div class="product">
			<div class="product__wrapper">
				<div class="product__img">
					<img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt="">
				</div>

				<div class="product__code">
					<p>商品コード：{{ Product.code_min }}</p>
					<p>{{ Product.name }}</p>
				</div>

				<div class="product__detail">
					<p>{{ Product.description_list|raw|nl2br }}</p>
				</div>

			{% if Product.stock_find %}
				<div class="product__price">
					<ul>
						<li>
							<span class="price">{{ Product.getPrice02IncTaxMin|price }}</span>
						</li>
						<li class="taL">
							<span class="in-stock">在庫あり</span>
							<p class="label">販売価格（税込み）</p>
						</li>
					</ul>
				</div>

				<form action="?" method="post" id="form2" name="form2">
					<div style="display: none">
						<input type="hidden" id="mode{{ Product.id }}" name="mode" value="{{ attribute(forms, Product.id).children.mode.vars.value }}" />
						<input type="hidden" id="product_id{{ Product.id }}" name="product_id" value="{{ attribute(forms, Product.id).children.product_id.vars.value }}" />
						<input type="hidden" id="product_class_id{{ Product.id }}" name="product_class_id" value="{{ attribute(forms, Product.id).children.product_class_id.vars.value }}" />
						<input type="hidden" id="_token{{ Product.id }}" name="_token" value="{{ attribute(forms, Product.id).children._token.vars.value }}" />
					</div>
					<ul class="product__purchase">
						<li>数量</li>
						<li>
							<input type="text" class="js-spin__input" id="quantity{{ Product.id }}" name="quantity" required="required" class="form-control">
							<div class="js-spin__btn--add">＋</div><div class="js-spin__btn--sub">−</div>                                            
						</li>
						<li>
						<button type="submit" id="add-cart" class="btn btn--orange prevention-btn prevention-mask">カゴに入れる</button>
{#
							<a href="./cart.html">
								<div class="btn btn--orange">カゴに入れる</div>
							</a>
#}
						</li>
					</ul>
				</form>
			{% else %}
				<div class="product__price">
					<ul>
						<li>
							<span class="price">{{ Product.getPrice02IncTaxMin|price }}</span>
						</li>
						<li class="taL">
							<span class="sold-out">在庫なし</span>
							<p class="label">販売価格（税込み）</p>
						</li>
					</ul>
				</div>
			{% endif %}
			</div>
		</div>
	{% endfor %}

		<div class="notes">
			<p class="notes__text">初めてご利用の方は必ず注意事項をお読みください。</p>
			<a href="{{ url('notes') }}">
				<div class="notes__btn">
					<div class="btn btn--blue">▶ 注意事項を読む</div>
				</div>
			</a>
		</div>
	</div>
	<!--===== Contents =====-->
{% endblock %}