{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/cart.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>
	<script src="{{ app.config.user_data_urlpath }}/js/sp/cart.js"></script>
<script>
    //----------------------------------------
    // 数量変更
    //----------------------------------------
    //$("[id^=quantity_]").on("change",function(){
	function changeQuantity(id) {	//alert(id);
/***
        var quantity = $(this).val();    //alert(quantity);
        var id = $(this).attr("id").match(/[0-9]+/);    //alert(id);
        var productClassId = $('#product_' + id + '_class_id').val();    //alert(productClassId);
***/
        var quantity = $('#quantity_' + id).val();    //alert(quantity);
        var productClassId = $('#product_' + id + '_class_id').val();    //alert(productClassId);

        var href = "{{ url('cart') }}" + '/setQuantity/' + productClassId + '/' + quantity;    //alert(href);
        $('#quantity_change_' + id).attr('href', href);    //alert($('#quantity_change_' + id).attr('href'));
        $('#quantity_change_' + id)[0].click();
	}
    //});
</script>
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}

	<div class="contents">

		<div class="cart">現在のカゴの中</div>

		{% if Cart.CartItems|length > 0 %}

			<form name="form" id="form_cart" method="post" action="{{ url('cart') }}">

				{% for CartItem in Cart.CartItems %}
					{% set ProductClass = CartItem.Object %}
					{% set Product = ProductClass.Product %}
					<div class="product" id="product_{{ Product.id }}">
						<div class="product__wrapper">
							<div class="product__img">
								<img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}">
							</div>
							<div class="product__code">
								<p>商品コード：{{ Product.code_min }}</p>
								<p>{{ Product.name }}</p>
							</div>
							<div class="product__detail">{{ Product.description_list|raw|nl2br }}</div>
							<div class="product__price">
								<ul>
									<li>
										<span class="price">{{ CartItem.total_price|number_format }}円</span>
									</li>
									<li class="taL">
										<p class="label">小計</p>
									</li>
								</ul>
							</div>
							<div class="product__purchase">
								<ul>
									<li>数量</li>
									<li>
{#
										<select id="quantity_{{ Product.id }}" name="quantity" required="required" class="form-control">
										{% for i in 1..10 %}
										{% if i == CartItem.quantity %}
											<option value="{{ i }}" selected>{{ i }}</option>
										{% else %}
											<option value="{{ i }}">{{ i }}</option>
										{% endif %}
										{% endfor %}
										</select>
#}

										<input type="text" class="js-spin__input" id="quantity_{{ Product.id }}" name="quantity" required="required" class="form-control" value="{{ CartItem.quantity }}">
										<div class="js-spin__btn--add">＋</div><div class="js-spin__btn--sub">−</div>                                            

										<div style="display:none">
											<a id="quantity_change_{{ Product.id }}" href="" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false"></a>
											<input type="hidden" id="product_{{ Product.id }}_class_id" value="{{ ProductClass.id }}" />
										</div>
									</li>
									<li>
										<a href="{{ url('cart_remove', {'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="カートから商品を削除してもよろしいですか?">
											<div class="btn btn--blue">削除</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="total-price">
					<ul class="total-price__wrapper">
						<li class="total-price__title">合計金額</li>
						<li class="total-price__price">合計（税込み）<span>{{ Cart.total_price|number_format }}円</span></li>
					</ul>
				</div>

			</form>

		{% else %}
		{% endif %}
		<div class="confrim">
			<ul class="confrim__wrapper">
				<li class="confrim__text">
					上記の内容でよろしければ<br>
					「購入手続きへ」ボタンをクリックしてください。
				</li>
				<li class="confrim__btn--buy">
					<a href="{{ url('cart_buystep') }}">
						<div class="btn btn--orange">▶ 購入手続きへ</div>
					</a>
				</li>
				<li class="confrim__btn--back">
					<a href="{{ url('product_list') }}">
						<div class="btn btn--blue">▶ 商品ページにもどる</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--===== Contents =====-->
{% endblock %}