{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/input.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">

	<style type="text/css">	
		#input_receipt .radio {
			display:inline-block;
			margin-right: 10px;
		}
		#input_receipt .radio input[type="radio"] {
			margin-right: 10px;
		}

		.errormsg
		{
			color: red;
			margin-top: 4px;
			font-size: 1.4rem;
		}		
	</style>

{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/common.js"></script>
	<script src="{{ app.config.user_data_urlpath }}/js/input.js"></script>

	<!-- <script src="https://p01.mul-pay.jp/ext/js/token.js"></script>  -->
	<script src="https://stg.static.mul-pay.jp/ext/js/token.js"></script> <!-- test/honban -->

	<script>
	$(function() {
		$('#paymentSelector').change(function() {
			var paymentId = $(this).val();
 
			if(paymentId == '5'){
				$('#creditCard').show();
			}
			else{
				$('#creditCard').hide();
				$('#cardNumber').val('');
				$('#YY option:first').prop('selected', true);
				$('#MM option:first').prop('selected', true);
			}
		});
	});

	//--------------------------------------------------
	//-- トークンを取得する
	//--------------------------------------------------
	function getToken() {
		var cardNumber = $('#cardNumber').val();		//-- カード番号
		var expire = $('#YY').val() + $('#MM').val();	//-- 有効期限
		var securityCode = $('#securityCode').val();	//-- セキュリティコード
		//var holdername;								//-- カード名義人名
		var tokenNumber = 1;							//-- 取得するトークンの数

		//Multipayment.init("tshop00029191");     		//-- ショップID - テスト環境
		Multipayment.init("tshop00051412");     		//-- ショップID - 本番環境
		                   
		Multipayment.getToken({
			cardno: cardNumber,
			expire: expire,
			securitycode: securityCode,
			//holdername: holdername
			tokennumber: tokenNumber
		}, callback_getToken);
	}

	//--------------------------------------------------
	//-- トークンを取得する（コールバック）
	//--------------------------------------------------
	function callback_getToken(response) {
		console.log(JSON.stringify(response));
		if(response.resultCode != 000){
			alert('購入処理中にエラーが発生しました');
//dump(response);
		}
		else{
			$('#creditCard').hide();

			//-- カード情報は念のため値を除去
			$('#cardNumber').val("");						//-- カード番号クリア
			$('#YY option:first').prop('selected', true);	//-- 有効期限（年）初期化
			$('#MM option:first').prop('selected', true);	//-- 有効期限（月）初期化
			$('#securityCode').val("");						//-- セキュリティコードクリア

			//-- POSTパラメータからも念のため除去
			$('#cardNumber').remove();
			$('#YY').remove();
			$('#MM').remove();
			$('#securityCode').remove();

			//-- 予め購入フォームに用意したtoken フィールドに、値を設定
			$('#token').val(response.tokenObject.token);	//-- 取得したトークンを保持

//alert(response.tokenObject.token);
//alert($('#token').val());

			$('#toBeExpiredAt').val(response.tokenObject.toBeExpiredAt);			//-- トークン有効期限
			$('#maskedCardNumber').val(response.tokenObject.maskedCardNo);			//-- マスクされたカード番号
			$('#isSecurityCodeSet').val(response.tokenObject.isSecurityCodeSet);	//-- セキュリティコード設定フラグ

			//-- スクリプトからフォームをsubmit
			document.form1.submit();
		}
	}
	</script>
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div class="wrapper">
	<div class="contents">

		<form name="form1" id="form1" method="post" action="{{ url('input') }}">
			{{ form_widget(form._token) }}

			<div class="input">
				<div class="input__wrapper">
					<div class="input__title">お客様情報入力</div>

					<table class="input__table">
						{# ----- 氏名 ----- #}
						<tr class="input__table__name--kanji">
							<th>{{ form_label(form.name) }}</th>
							<td>
								<label>姓</label>
								{{ form_widget(form.name.name01) }}
								{{ form_errors(form.name.name01) }}
							</td>
							<td>
								<label>名</label>
								{{ form_widget(form.name.name02) }}
								{{ form_errors(form.name.name02) }}
							</td>
						</tr>

						{# ----- カナ ----- #}
						<tr class="input__table__name--kana">
							<th>{{ form_label(form.kana) }}</th>
							<td>
								<label>セイ</label>
								{{ form_widget(form.kana.kana01) }}
								{{ form_errors(form.kana.kana01) }}
							</td>
							<td>
								<label>メイ</label>
								{{ form_widget(form.kana.kana02) }}
								{{ form_errors(form.kana.kana02) }}
							</td>
						</tr>

						{# ----- メールアドレス ----- #}
						<tr>
							<th>{{ form_label(form.email) }}</th>
							<td colspan="2">
								{{ form_widget(form.email) }}
								{{ form_errors(form.email) }}
							</td>
						</tr>

						{# ----- 確認用メールアドレス ----- #}
						<tr>
							<th>{{ form_label(form.repeated_email) }}<br><span>※確認の為もう一度ご入力ください</span></th>
							<td colspan="2">
								{{ form_widget(form.repeated_email) }}
								{{ form_errors(form.repeated_email) }}
							</td>
						</tr>

						{# ----- 電話番号 ----- #}
						<tr class="input__table__tel">
							<th>{{ form_label(form.tel) }}</th>
							<td colspan="2">
								{{ form_widget(form.tel, {attr : {class : 'short'}}) }}
								{{ form_errors(form.tel) }}
							</td>
						</tr>

						{# ----- 支払方法 ----- #}
						<tr class="input__table__tel">
							<th>お支払い方法<span class="required">必須</span></th>
							<td colspan="2">
								<div>
									<select id="paymentSelector" name="paymentSelector">
									{% for payment in payments %}
									{% if paymentSelected == payment.id %}
										<option value="{{ payment.id }}" selected>{{ payment.method }}</option>
									{% else %}
										<option value="{{ payment.id }}">{{ payment.method }}</option>
									{% endif %}
									{% endfor %}
									</select>
								</div>

{#
							{% if paymentSelected == 5 %}
#}
								<div id="creditCard" style="margin-top:10px; display:block">
{#
							{% else %}
								<div id="creditCard" style="margin-top:10px; display:none">
							{% endif %}
#}
									<table style="width:80%;">
										<tr>
											<td>カード番号</td>
											<td colspan="2">
												<input id="cardNumber" type="text" name="cardNumber" value="" style="width:80%;" />
											</td>
										</tr>
										<tr>
											<td>有効期限</td>
											<td>
												<select id="YY" name="YY">
												{% for year in "now"|date("Y").."now"|date("Y")+10 %}
													<option value="{{ year|slice(2, 2) }}">{{ year }}年</option>
												{% endfor %}
												</select>
											</td>
											<td>
												<select id="MM" name="MM">
												{% for month in 1..12 %}
													<option value="{{ '%02s'|format(month) }}">{{ month }}月</option>
												{% endfor %}
												</select>
											</td>
										</tr>
										<tr>
											<td>セキュリティコード</td>
											<td colspan="2">
												<input id="securityCode" type="text" name="securityCode" value="" style="width:20%;" />
											</td>
										</tr>
									</table>
									<br />
									<span>※現在、対応カードは「VISA認証サービス」、「Mastercard SecureCode®」に対応したカードのみとなります。</span>
								</div>
							</td>
						</tr>

						{# ----- 領収書 ----- #}
						<tr>
							<th>{{ form_label(form.receipt) }}</th>
							<td colspan="2">
								<div id="input_receipt">
									{{ form_widget(form.receipt) }}
									{{ form_errors(form.receipt) }}
								</div>
								<br />
								<span>※領収書が必要な場合、備考欄に宛名、但し書きをご記入下さい。</span>
							</td>
						</tr>

						{# ----- 備考 ----- #}
						<tr>
							<th>{{ form_label(form.message) }}</th>
							<td colspan="2">
								{{ form_widget(form.message) }}
								{{ form_errors(form.message) }}
							</td>
						</tr>
					</table>

					<div class="input__title">利用規約</div>
					<div class="input__terms">
						<div class="term">
							<div class="term__title">第1条 総則</div>
							<div class="term__text">
								株式会社和僑(以下、「当社」といいます)は、「airaccess」(以下、「本サイト」といいます)において、提供するサービスの利用規約として、本規約を定めます。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第2条 規約の範囲と変更</div>
							<div class="term__text">
								本規約は本サイトをご利用いただくすべての利用者に適用されるものとします。<br>
								当社は、利用者の承諾を得ることなくいつでも必要に応じて本規約を変更することができるものとします。変更後の本規約は、当社が別途定める場合を除き、本サイト上に表示した時点より効力を生じるものとし、利用者が本サイトをご利用された際は、利用者は当該変更に同意され承諾されたものとみなします。<br>
								利用者に何らかの障害が生じた場合であっても、当社は一切の責任を負いません。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第3条 本サービスの利用</div>
							<div class="term__text">
								当社は、日本国内からアクセスされたご利用者に対して本サービスを提供します。<br>
								利用者は、本規約に従い、本サイトをご利用いただきます。<br>
								ご利用者は、本サイトを通じて発信する情報について一切の責任を負うものとし、当社に対して何等の迷惑または損害等を与えてはなりません。<br>
								本サイトのご利用に関連して、ご利用者が本サイトまたは他のご利用者に対して迷惑または損害を与えた場合、または紛争を生じた場合、当該ご利用者は自己の費用と責任でかかる問題・損害・紛争を解決するものとし、当社に対して何等の迷惑または損害等を与えてはなりません。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第4条 著作権等</div>
							<div class="term__text">
								無断で本サイト上のコンテンツを複製、転載、改編、編集、頒布、販売等することはできません。<br>
								前項の規定に違反して肖像権、著作権等の知的財産権に関する問題が生じた場合、ご利用者は自己の費用と責任において、その問題を解決するとともに、当社に対して何等の迷惑または損害等を与えてはなりません。<br>
								当社は利用者が情報等を当社に送付した時点で、利用者がその情報に関する一切の権利を放棄されたものとみなします。当社は情報等に関して一切の守秘義務を負わず、将来にわたりあらゆる目的にその情報提供者に対価を支払うことなく使用できるものとし、その情報等から生じるいかなる問題について一切責任を負いません。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第5条 禁止事項</div>
							<div class="term__text">
								本サービスの利用に際して、利用者に対し次の各号の行為を行うことを禁止します。<br><br>
								1. 法令または本規約、本サービスご利用上のご注意、本サービスでのお買い物上のご注意その他の本規約等に違反すること<br>
								2. 当社、およびその他の第三者の権利、利益、名誉等を損ねること<br>
								3. 青少年の心身に悪影響を及ぼす恐れがある行為、その他公序良俗に反する行為を行うこと<br>
								4. 他の利用者その他の第三者に迷惑となる行為や不快感を抱かせる行為を行うこと<br>
								5. 虚偽の情報を入力すること<br>
								6. 有害なコンピュータープログラム、メール等を送信または書き込むこと<br>
								7. 当社のサーバーその他のコンピューターに不正にアクセスすること<br>
								8. その他当社が不適切と判断すること<br>
							</div>
						</div>
						<div class="term">
							<div class="term__title">第6条 個人情報の管理</div>
							<div class="term__text">
								当社は、ご利用者の個人情報(以下、「個人情報」といいます。)を当サイト内に掲出する「個人情報保護方針」に基づき、適切に取扱います。<br>
								当社は、個人情報を、本サービスの提供に関する業務と個人認証以外の目的のために利用いたしません。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第7条 本サービスの中止・中断</div>
							<div class="term__text">
								当社は、本サービスの稼動状態を良好に保つために、次の各号の一に該当する場合、予告なしに、本サービスの提供全てあるいは一部を停止することがあります。<br><br>
								システムの定期保守および緊急保守のために必要な場合<br>
								システムに負荷が集中した場合<br>
								火災、停電、第三者による妨害行為などによりシステムの運用が困難になった場合<br>
								その他、止むを得ずシステムの停止が必要と当社が判断した場合
							</div>
						</div>
						<div class="term">
							<div class="term__title">第8条 サービスの変更・廃止</div>
							<div class="term__text">
								当社は、その判断によりサービスの全部または一部を事前の通知なく、適宜変更・廃止できるものとします。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第9条 免責事項</div>
							<div class="term__text">
								1. 通信回線やコンピューターなどの障害によるシステムの中断・遅滞・中止・データの消失、データへの不正アクセスにより生じた損害、その他当社のサービスに関して利用者に生じた損害について、当社は一切責任を負わないものとします。<br>
								2. 当社は、当社のウェブページ・サーバー・ドメインなどから送られるメール・コンテンツに、コンピューター・ウィルスなどの有害なものが含まれていないことを保証いたしません。<br>
								3. ご利用者が本規約等に違反したことによって生じた損害については、当社は一切責任を負いません。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第10条 販売条件</div>
							<div class="term__text">
								本サイトの注文フォーム(PC・モバイル)によるご注文のみお受けします。お電話・FAX・電子メール等によるご注文には応じかねます。<br>
								本サイトに掲載された商品情報は、予告なしに変更することがあります。<br>
								本サイト掲載の商品につきましては、お取扱いが可能な商品であり、ご注文時における商品確保を保証するものではございません。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第11条 販売価格</div>
							<div class="term__text">
								掲載商品および価格につきましては細心の注意を払っておりますが、人為的なミスにより、本サイト上の価格が実際の販売価格と異なる場合がございます。<br>
								その際はたいへん申し訳ございませんが、民法95条「錯誤」により当該商品販売を無効とさせていただく場合がございますので、予めご了承ください。<br>
								その場合には、当社が適当と思われる連絡方法において、ご注文後に正規の価格をご連絡し、ご購入の意思確認をさせていただくか、または再度新規でご注文いただくなどの対応をさせていただきます。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第12条 ご注文と成約</div>
							<div class="term__text">
								お客様が指定口座への入金が完了し、お客様に番号等をご連絡した時点で、売買契約は成立するものとします。<br>
								未成年者のご注文については保護者の責任において行動されたものとみなします。<br>
								お客様が指定口座への入金が完了した後、直ちにご購入内容の確認のため、確認メールを送信させていただきます。このメールには、ご注文内容、ご注文金額、ご注文番号などの大切な内容が記載されておりますので、必ず内容をご確認ください。また、当店へのお問合せにはご注文番号が必要となります。<br>
								契約成立の如何に関わらず、以下の理由に該当する場合は、当社は無条件でご注文をお断りすることができます。<br>
								個人情報に虚偽の事実が認められた場合。<br>
								転売、再販売または営利目的の恐れがあるご注文をお受けした場合。<br>
								その他、当社がご注文のお断りの必要を認めた場合。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第13条 商品の情報</div>
							<div class="term__text">
								当社は、本サイト上の商品説明をできる限り正確に表示するよう努めます。<br>
								商品画像はイメージであり、テキストの商品情報と異なる場合、テキストの商品情報が優先します。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第14条 お支払い</div>
							<div class="term__text">
								商品購入の際のお支払方法は、指定口座への入金のみとします。<br>
								指定口座への入金期日までにまでにお支払いが確認できない場合、ご注文をキャンセルさせていただきます。<br>
								サイトに関連した支払いに関して、金融機関の間で料金その他の債務を巡って紛争が発生した場合、当該当事者と直接解決するものとし、当社には一切責任がないものとします。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第15条 キャンセル・返金</div>
							<div class="term__text">
								本サイトでは、契約成立後のお客様の都合によるキャンセル・返金はいかなる場合にも受付けません。あらかじめご了承ください。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第16条 不可抗力</div>
							<div class="term__text">
								天変地異、戦争、暴動、内乱、革命、法令の改廃制定、裁判所もしくは行政当局による命令処分、輸送機関の事故、その他の不可抗力により契約の履行が遅延し、または不可能となったときは、当社は利用者に対し何等の責任も負いません。                               
							</div>
						</div>
						<div class="term">
							<div class="term__title">第17条 管轄裁判所</div>
							<div class="term__text">
								利用者と当社との間の本サイトの利用に関して、本規約により解決できない問題が生じた場合、利用者と当社とは誠意をもって協議し、これを解決するものとします。<br>
								前項の規定にも関わらず、協議によっても解決しない場合には、東京簡易裁判所または東京地方裁判所を第一審の専属管轄裁判所とします。
							</div>
						</div>
						<div class="term">
							<div class="term__title">第18条 準拠法</div>
							<div class="term__text">
								本利用規約の成立、効力、履行および解釈については、日本法を準拠法とします
							</div>
						</div>
					</div>
					
				</div>
				<!--===== .input__wrapper =====-->
			</div>
			<!--===== .input =====-->

			<div class="confrim">
				<div class="confrim__wrapper">
					<div class="confrim__text">
						利用規約をお読みになり、ご了解頂いた上で利用規約に同意する<input type="checkbox" class="js-isCheckBox"/> はい
					</div>
					<ul>
						<li class="confrim__btn--back">
							<a href="{{ url('login_confirm') }}">
								<div class="btn btn--blue">▶　戻る</div>
							</a>
						</li>
						<li class="confrim__btn--buy">
							<div class="btn btn--disabled js-submit__btn">▶　確認画面へ</div>
						</li>
					</ul>
				</div>
			</div>

			<input id="top_box__hidden_mode" type="hidden" name="mode" value="confirm">
			<input id="top_box__hidden_mode" type="hidden" name="nonmember" value="{{ nonmember }}">
			<input id="top_box__hidden_mode" type="hidden" name="paymentSelected" value="{{ paymentSelected }}">

			<input id="token" type="hidden" name="token" value="{{ token }}">
			<input id="maskedCardNumber" type="hidden" name="maskedCardNumber" value="{{ maskedCardNumber }}">

		</form>

	</div>
	<!--===== Contents =====-->
</div>
{% endblock %}