{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/flow.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/flow.js"></script>
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div id="cart" class="container-fluid">
<div class="wrapper">
	<div class="contents">
		<div class="flow">
			<div class="flow__wrapper">
				<div class="flow__title">購入から搭乗までの流れ</div>
				<div class="flow__step">
					<div class="step__title">
						STEP１　優待券のご購入のメールアドレスのご準備
					</div>
					<div class="step__content">
						<p>
							当サイトでは商品受け取りの問題を避けるために商品の購入手続き内でメールが正常に受け取れるかのステップがあります。 商品購入の際には事前に受信可能なメールアドレスをご準備下さいませ。
						</p>
					</div>
				</div>

				<div class="flow__arrow"></div>

				<div class="flow__step">
					<div class="step__title">
						STEP2　座席確認、優待券のご購入
					</div>
					<div class="step__content">
						<p>
							各航空会社にて搭乗予定日の空席を確認後、株主優待券を購入して下さい。<br>
							<span>
								※ANA(全日空) および JAL(日本航空) の株主優待券による座席数には、限りがあります。<br>
								購入後のキャンセルおよび返品はできかねますので、予め各航空会社にて空席を確認後、株主優待券の購入をお願いします。
							</span>
						</p>
					</div>
				</div>

				<div class="flow__arrow"></div>

				<div class="flow__step">
					<div class="step__title">
						STEP3　航空券のご購入
					</div>
					<div class="step__content">
						<p>
							当サイトで株主優待券を購入し、各航空会社の航空券購入時に指定の入力フォームに「株主優待番号」と「登録用パスワード」もしくは「株主割引発券用コード」を入力して下さい。株主優待割引が適応されます。
						</p>
						<ul class="step__accordion--ana">
							<li class="step__accordion__title">
								<p>ANA株主優待券の使い方</p>
							</li>
							<li class="step__accordion__content">
								<div class="accord__content">
									<div class="accord__content__title">【ご予約】</div>
									<ul class="accord__content__list">
										<li>
											①ANAウェブサイトトップページ より空席照会を行ない、株主優待割引をご選択ください。
										</li>
										<li>
											②[申し込み内容確認画面]にて「株主優待（スクラッチあり）を利用する」をお選びください。
										</li>
									</ul>

									<div class="accord__content__title">
										【ご購入／株主優待番号および登録用パスワードのご登録】
									</div>
									<ul class="accord__content__list">
										<li>
											ANAウェブサイトトップページ「予約確認・購入/変更・追加・解約（払戻）」ボタン、もしくは、［予約完了画面］の「購入手続きへ」ボタンからご購入後、ご登録いただけます。
										</li>
										<li>
											①［支払完了画面］または［予約詳細画面］の「株主優待番号登録」ボタンより登録画面へお進みください。<br>
											<span>※コンビニ支払／ネット振込／銀行振込にてお支払いの場合は、お支払い後、再度ANAウェブサイトにアクセスし、株主優待番号をご登録いただきます。</span>
										</li>
										<li>
											②［株主優待番号登録画面］にて、当サイトでご購入した[1]株主優待番号と[2]登録用パスワードをご入力ください。
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<ul class="step__accordion--jal">
							<li class="step__accordion__title">
								<p>JAL株主優待券の使い方</p>
							</li>
							<li class="step__accordion__content">
								<div class="accord__content">
									<div class="accord__content__title">【ご予約】</div>
									<ul class="accord__content__list">
										<li>
											①JALウェブサイトトップページ より空席照会を行ない、株主優待割引をご選択ください。
										</li>
										<li>
											②[株主割引発券用コードを登録する]ボタンより登録してください。
										</li>
									</ul>
									<div class="accord__content__title">【ご購入】</div>
									<ul class="accord__content__list">
										<li>
											①予約便すべての発券用コードが登録済みになると、「航空券の購入に進む」ボタンが表示されます。
										</li>
										<li>
											②航空券購入期限内にご購入ください。
										</li>
									</ul>
								</div>      
							</li>
						</ul>
					</div>
				</div>

				<div class="flow__arrow"></div>

				<div class="flow__step">
					<div class="step__title">
						STEP４　ご搭乗
					</div>
					<div class="step__content">
						<p>
							ANAをご利用のお方はスキップサービスをご利用いただくとスムーズにご搭乗いただけます。<br> JALをご利用のお方は座席指定済みであれば、ICカード、JAL ICアプリ設定済みモバイル、2次元バーコードなどでタッチ＆ゴーがご利用いただけます。株主優待割引が適応されます。
						</p>
					</div>
				</div>

				<div class="flow__btn">
					<a href="{{ url('product_list') }}">
						<div class="btn btn--blue">
							購入する ▶
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--===== Contents =====-->
</div>
</div>
{% endblock %}