{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/top.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% block main %}
	<div class="contents">

		<div class="appeal">
			<div class="appeal__img">
				<img src="{{ app.config.user_data_urlpath }}/images/sp/img_kv.jpg" alt="">
			</div>
			<div class="appeal__btn-00">
				<a href="{{ url('product_list') }}">
					<div class="btn btn--orange">▶ 今すぐ購入する</div>					
				</a>
			</div>
			<div class="appeal__btn-01">
				<a href="{{ url('flow') }}">
					<div class="btn btn--orange">▶ 初めての方はこちら</div>					
				</a>
			</div>
		</div>


		<div class="points">
			<div class="points__wrapper">
				<div class="points__title">
					<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_title_00.png" alt="">
				</div>
				<ul class="points__item">
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_00.png" alt="">
					</li>
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_01.png" alt="">
					</li>
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_02.png" alt="">
					</li>
				</ul>
			</div>
		</div>

		<div class="points__btn">
			<a href="{{ url('product_list') }}">
				<div class="btn btn--orange">▶ 今すぐ購入する</div>					
			</a>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="points__title">
					<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_title_01.png" alt="">
				</div>
				<ul class="points__item">
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_03.png" alt="">
					</li>
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_04.png" alt="">
					</li>
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_05.png" alt="">
					</li>
				</ul>
			</div>
		</div>

		<div class="points__btn">
			<a href="{{ url('product_list') }}">
				<div class="btn btn--orange">▶ 今すぐ購入する</div>					
			</a>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="points__title">
					<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_title_02_dash.png" alt="">
				</div>
				<ul class="points__item">
					<li class="points__img">
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_points_06.png" alt="">
					</li>
				</ul>
			</div>
		</div>

		<div class="points__btn">
			<a href="{{ url('product_list') }}">
				<div class="btn btn--orange">▶ 今すぐ購入する</div>					
			</a>
		</div>


		<div class="flow">
			<div class="flow__wrapper">
				<div class="flow__title">
					<img src="{{ app.config.user_data_urlpath }}/images/sp/img_flow_title_00.png"  alt="">
				</div>
				<ul class="flow__contents">
					<li>
						<img src="{{ app.config.user_data_urlpath }}/images/sp/img_flow.png" alt="">
					</li>
				</ul>
				<div class="flow__btn">
					<a href="{{ url('flow') }}">
						<div class="btn btn--blue">▶ 詳しい流れはこちら</div>					
					</a>
				</div>						
			</div>
		</div>


		<div class="notes">
			<div class="notes__wrapper">
				<h1 class="notes__title">
					<span class="notes__icon"></span>
					注意事項
				</h1>
				<div class="notes__text">
					<p>
						ご購入の際にいくつか注意事項があります。<br>
						初めてご購入のお客様は<br>
						注意事項をお読みください。
					</p>
					<div class="notes__box-text">
						<p>
							※航空券の予約は行えないのでお気をつけください。<br>
							※株主優待番号の購入後のキャンセルは出来かねますので、購入にはご注意ください。<br>
							※初めてご購入のお客様は注意事項をお読みください。<br>
						</p>
					</div>
				</div>
				<div class="notes__btn">
					<a href="{{ url('notes') }}">
						<div class="btn btn--blue">▶　注意事項を読む</div>					
					</a>
				</div>
			</div>
		</div>

		<div class="qa">
			<div class="qa__wrapper">
				<h1 class="qa__title">
					<span class="qa__icon"></span>
					よくあるご質問
				</h1>
				<div class="qa__text">
					<p>お客様からよくいただく<br>質問をまとめました。</p>
				</div>
				<ul class="qa__btn">
					<li class="">
						<a href="{{ url('flow') }}">
							<p>▶ 購入から搭乗までの流れ</p>
							<img src="{{ app.config.user_data_urlpath }}/images/sp/img_qa_00.jpg" alt="">
						</a>
					</li>
					<li class="">
						<a href="{{ url('qa') }}">
							<p>▶ よくある質問</p>
							<img src="{{ app.config.user_data_urlpath }}/images/sp/img_qa_01.jpg" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>


	</div>
	<!--===== Contents =====-->





{% endblock %}