{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/top.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div class="wrapper">

	<div class="contents">

		<div class="appeal">
			<div class="appeal__wrapper">
				<div class="appeal__img">
					<img src="{{ app.config.user_data_urlpath }}/images/img_kv_00.jpg" alt="">
					<div class="appeal__btn-1">
						<a href="{{ url('product_list') }}">
							<div class="btn btn--orange">▶　今すぐ購入する</div>
						</a>
					</div>
					<div class="appeal__btn-2">
						<a href="{{ url('flow') }}">
							<div class="btn btn--orange">▶　初めての方はこちら</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="points__title">
					<img src="{{ app.config.user_data_urlpath }}/images/img_point_title_00.png" alt="">
				</div>
				<ul class="points__item">
					<li class="points__grid--3">
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_00.png" alt="">
						</div>
						<div class="spacer"></div>
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_01.png" alt="">
						</div>
						<div class="spacer"></div>
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_02.png" alt="">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="notes__btn">
					<a href="{{ url('product_list') }}">
						<div class="btn btn--orange">▶　今すぐ購入する</div>
					</a>
				</div>
			</div>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="points__title">
					<img src="{{ app.config.user_data_urlpath }}/images/img_point_title_01.png" alt="">
				</div>
				<ul class="points__item">
					<li class="points__grid--3">
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_03.png" alt="">
						</div>
						<div class="spacer"></div>
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_04.png" alt="">
						</div>
						<div class="spacer"></div>
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_05.png" alt="">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="notes__btn">
					<a href="{{ url('product_list') }}">
						<div class="btn btn--orange">▶　今すぐ購入する</div>
					</a>
				</div>
			</div>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="points__title">
					<img src="{{ app.config.user_data_urlpath }}/images/img_point_title_02_dash.png" alt="">
				</div>
				<ul class="points__item">
					<li class="points__grid--1">
						<div class="points__img">
							<img src="{{ app.config.user_data_urlpath }}/images/img_point_06.png" alt="">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="points">
			<div class="points__wrapper">
				<div class="notes__btn">
					<a href="{{ url('product_list') }}">
						<div class="btn btn--orange">▶　今すぐ購入する</div>
					</a>
				</div>
			</div>
		</div>

		<div class="flow">
			<div class="flow__wrapper">
				<div class="flow__title">
					<img src="{{ app.config.user_data_urlpath }}/images/img_flow_title_00.png" alt="">
				</div>
				<ul class="flow__contents">
					<li>
						<img src="{{ app.config.user_data_urlpath }}/images/img_flow_00.png" alt="">
					</li>
				</ul>
				<div class="flow__btn">
					<a href="{{ url('flow') }}">
						<div class="btn btn--blue">▶ 詳しい流れはこちら</div>
					</a>
				</div>
			</div>
		</div>

		<div class="notes">
			<div class="notes__wrapper">
				<h1 class="notes__title">
					<span class="notes__icon"></span> 注意事項
				</h1>
				<div class="notes__text">
					<p>
						ご購入の際にいくつか注意事項があります。<br> 初めてご購入のお客様は注意事項をお読みください。
					</p>
					<div class="notes__box-text">
						<div>
							※航空券の予約は行えないのでお気をつけください。<br> ※株主優待番号の購入後のキャンセルは出来かねますので、購入にはご注意ください。
							<br> ※初めてご購入のお客様は注意事項をお読みください。
							<br>
						</div>
					</div>
				</div>
				<div class="notes__btn">
					<a href="{{ url('notes') }}">
						<div class="btn btn--blue">▶　注意事項を読む</div>
					</a>
				</div>
			</div>
		</div>

		<div class="qa">
			<ul class="qa__wrapper">
				<h1 class="qa__title">
					<span class="qa__icon"></span> よくあるご質問
				</h1>
				<div class="qa__text">
					<p>お客様からよくいただく質問をまとめました。</p>
				</div>
				<ul class="qa__btn">
					<li>
					<a href="{{ url('flow') }}">
						<p>▶　購入から搭乗までの流れ</p>
						<img src="{{ app.config.user_data_urlpath }}/images/img_qa_00.jpg" alt="">
					</a>
					</li>
					<li>
					<a href="{{ url('qa') }}">
						<p>▶　よくある質問</p>
						<img src="{{ app.config.user_data_urlpath }}/images/img_qa_01.jpg" alt="">
					</a>
					</li>
				</ul>
			</ul>
		</div>

	</div>
	
</div>
{% endblock %}