<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
	</head>

	<body OnLoad='OnLoadEvent();'>
		<form name="ACSCall" action="{{ ACSUrl }}" method="POST">
			<noscript>
				<br>
				<br>
				<center>
					<h2>
						3-D セキュア認証を続けます。<br>ボタンをクリックしてください。
					</h2>
					<input type="submit" value="OK">
				</center>
			</noscript>

			<input type="hidden" name="PaReq" value="{{ PaReq }}">
			<input type="hidden" name="TermUrl" value="{{ url(TermUrl) }}">
			<input type="hidden" name="MD" value="{{ MD }}">
		</form>

<script >
<!--
function OnLoadEvent() {
document.ACSCall.submit();
}
//-->
</script>

	</body>
</html>