{% block stylesheet %}
  <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/login_confirm.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/common.js"></script>

{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div class="wrapper">
      <div class="contents">

        <div class="login">

          <div class="login__wrapper">

            <h1 class="login__main-title">会員登録されていないお客様</h1>

            <div class="login__text">
              <h1>◆ 会員登録をせずに購入手続きへ</h1>
              <p>
                会員登録をするとログインするだけで、毎回お名前や住所などを入力することなくスムーズにお買い物をお楽しみいただけます。また、便利なMyページをご利用いただけます。<br>
              </p>
              <div class="login__btn--regist">
                <a href="{{ url('input_nonmember') }}">
                  <div class="btn btn--orange">購入手続きへ ▶</div>
                </a>
              </div>
            </div>

            <h1 class="login__main-title">会員登録がお済みのお客様</h1>

            <div class="login__text">
              <p class="taC">
                以下よりログインしてください。
              </p>
              <div class="login__btn--regist">
                <a href="{{ url('air_access_login_form') }}">
                  <div class="btn btn--orange  js-submit__btn">ログイン ▶</div>
                </a>
              </div>
            </div>


          </div>

        </div>

      </div>
      <!--===== Contents =====-->
</div>
{% endblock %}
