{% block stylesheet %}
  <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/notes.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div id="cart" class="container-fluid">
<div class="wrapper">
      <div class="contents">

        <div class="notes">
          <div class="notes__wrapper">

            <div class="notes__title">注意事項</div>

            <div class="notes__text">

              <p>
                当サイトでは、<span>航空券の予約および購入はできません。</span><br> 株主優待券に記載されております、「番号」をメールにて納品いたします。
              </p>
              <p>
                ANA(全日空) および JAL(日本航空) の株主優待券による座席数には、限りがあります。<br>
                <span>購入後のキャンセルおよび返品はできかねますので、予め各航空会社にて空席を確認後、</span>株主優待券の購入をお願いします。
              </p>
              <p>
                スクラッチ情報の番号のみのお知らせで、株主優待券は納品しませんので、<span>JTBなど旅行会社様での航空券の購入には御利用いただけません。</span><br> JTBなどの旅行会社様でご利用になる場合は株主優待券をご購入ください。
              </p>

              <div class="notes__btn--yutai">
                <a href="https://www.access-ticket.com/shop/products/list.php?category_id=2" target="_blank">
                  <div class="btn btn--orange">株主優待券販売ページへ ▶</div>
                </a>
              </div>

              <p>
                お客様へメールにてお知らせした株主優待券の番号は、当社にてシステムで消しこみ作業を行い、照会ができなくなります。<br>
                <span>メールにてお知らせした番号は、第三者へ漏えいのないよう、お客様自身での管理をお願い申し上げます。</span>
              </p>

              <p>
              お支払いは<span>クレジットカード決済のみ</span>となります。<br>
              ※現在、対応カードは「VISA認証サービス」、「Mastercard SecureCode(R)」に対応したカードのみとなります。
              </p>

              <div class="notes__btn--product">
                <a href="{{ url('product_list') }}">
                  <div class="btn btn--blue">商品ページへ ▶</div>
                </a>
              </div>

            </div>

          </div>
        </div>

      </div>
      <!--===== Contents =====-->
</div>
</div>
{% endblock %}
