{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/login.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/common.js"></script>
	<script src="{{ app.config.user_data_urlpath }}/js/login.js"></script>
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div class="contents">
{% set err_flg=err_flg|default('0') %}
<input type="hidden" name="err_flg" id="err_flg" value="{{err_flg}}" >
        <div class="login">

          <div class="login__wrapper">

            <h1 class="login__main-title">ログイン</h1>

            <form class="login-form" name="login" method="post" action={{ url('check') }}>
              <div class="login-form__wrapper">
                <div class="login-form__account">
                  <input type="text" name="login_email" id="login_email" value="" placeholder="メールアドレス">
								</div>
										<div class="login-form__caution show-error">
											<p id="email1-error"></p>
											<p id="email2-error"></p>
	                	</div>

                <div class="login-form__password">
                  <input type="password" name="login_pass" id="login_pass" value="" placeholder="パスワード">
								</div>
										<div class="login-form__caution show-error">
											<p id="pass1-error"></p>
											<p id="pass1-error2"></p>
	                	</div>
									{% if err_flg %}
	                  <div class="login-form__caution show-error">
	                    <p >メールアドレスまたはパスワードが違います</p>
                  	</div>
                	{% endif %}
                <div class="login-form__submit-btn">
                  <div id="checkPassButton" class="btn btn--orange" onclick="document.login.submit();">ログイン</div>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
{% endblock %}
