{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/input_confirm.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>

	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% block main %}
	<div class="contents">

	<form name="form1" id="form1" method="post" action="{{ url('input') }}">
		{{ form_widget(form._token) }}

		<div class="input">
			<div class="input__wrapper">
				<div class="input__title">お客様情報確認</div>
				<div class="input__form">

					<div class="input__label">
						<label for="">{{ form_label(form.name) }}</label>
					</div>
					<ul class="input__name">
						<!--<input type="text" placeholder="姓" /><input type="text" placeholder="名" />-->
						<li>
							<label for="">姓</label>
							{{ form_widget(form.name.name01) }}
						</li>
						<li>
							<label for="">名</label>
							{{ form_widget(form.name.name02) }}
						</li>
					</ul>

					<div class="input__label">
						<label for="">{{ form_label(form.kana) }}</label>
					</div>
					<ul class="input__name">
						<!--<input type="text" placeholder="姓" /><input type="text" placeholder="名" />-->
						<li>
							<label for="">セイ</label>
							{{ form_widget(form.kana.kana01) }}
						</li>
						<li>
							<label for="">メイ</label>
							{{ form_widget(form.kana.kana02) }}
						</li>
					</ul>

					<div class="input__label">
						<label for="">{{ form_label(form.email) }}</label>
					</div>
					<div class="input__mail">
						{{ form_widget(form.email) }}
					</div>

					<div class="input__label">
						<label for="">{{ form_label(form.repeated_email) }}</label>
					</div>
					<div class="input__mail">
						{{ form_widget(form.repeated_email) }}
					</div>

					<div class="input__label">
						<label for="">{{ form_label(form.tel) }}</label>
					</div>
					<div class="input__tel">
						{{ form_widget(form.tel) }}
					</div>

					<div class="input__label">
						<label for="">お支払い方法</label>
					</div>
					<div class="input__tel">
						<div>
						{{ paymentMethod }}
						</div>
					{% if paymentSelected == 5 %}
						<div id="creditCard" style="margin-top:10px; display:block">
					{% else %}
						<div id="creditCard" style="margin-top:10px; display:none">
					{% endif %}
							<table style="width:80%;">
								<tr>
									<td>カード番号</td>
									<td>
									{{ maskedCardNumber }}
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="input__label">
						<label for="">{{ form_label(form.receipt) }}</label>
					</div>
					<div class="input__option">
 						{{ form_widget(form.receipt) }}
					</div>

					<div class="input__label">
						<label for="">{{ form_label(form.message) }}</label>
					</div>
					<div class="input__remark">
						{{ form_widget(form.message) }}
					</div>
				</div>
				<!--===== .input__form =====-->
			</div>
			<!--===== .input__wrapper =====-->
		</div>
		<!--===== .input =====-->

		<div class="confrim">
			<ul class="confrim__wrapper">
				<li class="confrim__text">
					<h1>
						※【送信】を押す前に<br>
						かならずご確認ください
					</h1>
					<p>
						入金口座をメールにてお送りいたしますので 「reply@air-accessticket.com」からのメールを受信できるように設定をお願い致します。<br>
						また、お客様のメールアドレスがお間違いのないようお気をつけください。
					</p>
				</li>
				<li class="confrim__btn--buy">
					<p id="confirm_box__confirm_button"><button type="submit" class="btn btn--orange btn-block" name="mode" value="complete">▶　送信</button></p>
				</li>
				<li class="confrim__btn--back">
					<p id="confirm_box__back_button"><button type="submit" class="btn btn--blue btn-block" name="mode" value="back">▶　戻る</button></p>
				</li>
			</ul>
		</div>

		<input id="top_box__hidden_mode" type="hidden" name="nonmember" value="{{ nonmember }}">
		<input id="top_box__hidden_mode" type="hidden" name="paymentSelected" value="{{ paymentSelected }}">

		<input id="token" type="hidden" name="token" value="{{ token }}">
		<input id="maskedCardNumber" type="hidden" name="maskedCardNumber" value="{{ maskedCardNumber }}">

	</form>

	</div>
	<!--===== Contents =====-->

{% endblock %}