{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/contact.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>

	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% block main %}
<div class="wrapper">
	<div class="contents">
		<div class="contact">
			<div class="contact__wrapper">
				<div class="contact__title">お問い合わせ</div>

				<div class="contact__text">
					<p>airaccessについてお問い合わせがある場合、下記メールアドレスまでご連絡を下さい。</p>
					<p>info@air-accessticket.com</p>
					<p>
						「よくある質問（Q&A）」では、お客様から多く寄せられているお問い合わせの内容を掲載しています。<br>
						お問い合わせの前にぜひ一度ご確認ください。<br>
					</p>
					<p>→　<a href="{{ url('qa') }}">よくある質問(Q&A)</a></p>

					<p>
						お問い合わせ内容によっては、数日以上のお時間をいただく場合やお答えできない場合がございます。<br> また、回答の時間指定はお受けできませんのであらかじめご了承ください。
					</p>

					<p>
						<span>●Yahooメール、Googleメール、Hotメールなどのフリーメールをご利用のお客様へ</span><br>
						弊社よりお送りしたメールが、迷惑メールフォルダに分類されるケースが増えております。<br>
						弊社からのメールが届かない際は迷惑メールフォルダのご確認をよろしくお願いいたします。<br>
						万一、回答メールが届かない場合は、トラブルの可能性もありますので、<br>
						大変お手数ではございますが、もう一度お問い合わせ下さい。
					</p>
				</div>

			</div>
		</div>
	</div>
	<!--===== Contents =====-->
</div>
{% endblock %}