{% block stylesheet %}
  <link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/input_done.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% extends 'default_frame.twig' %}

{% block main %}
<div class="wrapper">
      <div class="contents">

        <div class="done">

          <div class="done__wrapper">

            <h1 class="done__main-title">クレジット決済エラー</h1>

            <div class="done__text">
              <h1>クレジット決済時にエラーが発生しました。</h1>
              <p>
{#
                以下のエラーコードにてお問い合わせくださいますよう、お願いいたします。<br />
                <br />
#}
                <span>受注ID：</span>{{ orderId }}
                <br />
{#
                <span>エラーコード：</span>{{ errors }}
#}
                <span>エラーメッセージ：</span>
                {% for errorMessage in errorMessages %}
                  <br />
                  <span style="margin-left:20px;">{{ errorMessage }}</span>

                {% endfor %}
              </p>
              <div class="done__btn--regist">
                <a href="{{ url('top') }}">
                  <div class="btn btn--orange">サイトTOPへ ▶</div>
                </a>
              </div>
            </div>

          </div>

        </div>

      </div>
      <!--===== Contents =====-->
</div>
{% endblock %}