{% block stylesheet %}
	<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/css/sp/qa.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
	<script src="{{ app.config.user_data_urlpath }}/js/sp/common.js"></script>
	<script src="{{ app.config.user_data_urlpath }}/js/sp/qa.js"></script>

	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% extends 'default_sp_frame.twig' %}

{% block main %}
	<div class="contents">
		<div class="qa">
			<div class="qa__wrapper">
				<h1 class="qa__main-title">よくある質問</h1>

				<div class="qa__item">
					<div class="qa__item__question">
						<ul>
						<li>Q.</li>
						<li>メールで問合せしたのですが返事が来ません。</li>
						<li class="js-qa__accordion__btn">▲</li>
						</ul>
					</div>
					<div class="qa__item__answer">
						<ul>
						<li>A.</li>
						<li>
							メールで問い合わせても返事がない方へ（受信設定について）<br>
							問い合わせをしたのに返信が届かないというお問い合わせが増えております。<br><br>
							弊社からお客様にメールを送信していても、お客様がお使いのメールサービスや携帯電話の設定によりメールの受信がブロックされていたり、迷惑メールフォルダに隔離されていることがございます。ご使用環境の設定を一度お確かめください。<br><br>
							■ドメイン受信拒否設定をされている場合<br>
							メールアドレス「xxx@air-accessticket.com」の@以下部分「air-accessticket.com」の受信を許可に設定してください。<br><br>
							■迷惑メール対策をされている場合<br>
							お使いのメールサービスによって、受信メールを自動的に「迷惑メールフォルダ」に移動する設定になっている場合がございます。ご利用中のメールサービス（メールソフト）にそのような設定がされていないかご確認ください。 設定方法の詳細はお使いのメールサービス提供会社（プロバイダなど）にご確認ください。<br><br>
							■携帯電話のメールアドレスをご利用の場合<br>
							お使いの携帯電話の設定が「パソコンからのメールを受信しない」「決められた宛先からのメールのみ受信する」などの受信制限がかかっている場合があります。弊社からのメールアドレスが受信できるように設定変更をお願いいたします。 <br>
							※携帯電話会社ごとの設定方法はこのページの下部にあるリンクからご確認ください。<br><br>
							・<a href="https://www.nttdocomo.co.jp/info/spam_mail/domain/index.html" target="_blank">
								docomoの場合の設定方法
							</a><br>
							・<a href="https://www.au.com/support/service/mobile/trouble/forestalling/mail/" target="_blank">
								auの場合の設定方法
							</a><br>
							・<a href="https://www.softbank.jp/mobile/support/antispam/settings/" target="_blank">
								softbankの場合の設定方法
							</a><br><br>
							上記をご確認いただき、設定をご変更の後もう一度メールにてお問い合わせください。
						</li>
						</ul>
					</div>
				</div>

				<div class="qa__item">
					<div class="qa__item__question">
						<ul>
							<li>Q.</li>
							<li>ANA(全日空)を購入したのですが、JAL(日本航空)に変更は可能でしょうか？</li>
							<li class="js-qa__accordion__btn">▲</li>
						</ul>
					</div>
					<div class="qa__item__answer">
						<ul>
							<li>A.</li>
							<li>ご入金後の変更は原則できません。ご利用の航空会社をご確認の上ご購入をお願いいたします。</li>
						</ul>
					</div>
				</div>

				<div class="qa__item">
					<div class="qa__item__question">
						<ul>
							<li>Q.</li>
							<li>注文から株主優待番号が届くまで、どのくらい時間がかかりますか？</li>
							<li class="js-qa__accordion__btn">▲</li>
						</ul>
					</div>
					<div class="qa__item__answer">
						<ul>
							<li>A.</li>
							<li>
								クレジット決済が確認されましたら基本すぐに株主優待番号がメールで届きます。（ANAの場合は登録パスワードも一緒に送られます）<br>
								クレジット決済確定後、株主優待番号がメールで届かない場合は、お手数をおかけいたしますが「info@air-accessticket.com」にお問い合わせ下さい。
							</li>
						</ul>
					</div>
				</div>

				{# <div class="qa__item">
					<div class="qa__item__question">
						<ul>
							<li>Q.</li>
							<li>領収書の宛名は変更できますか？</li>
							<li class="js-qa__accordion__btn">▲</li>
						</ul>
					</div>
					<div class="qa__item__answer">
						<ul>
							<li>A.</li>
							<li>
								変更可能です。<br>
								決済完了時の自動返信メールの本文中に、株主優待番号と登録用パスワード（ANA全日空）もしくは発券用コード（JAL日本航空）の記載とともに、 領収書出力のURLの記載があります。<br>
								このURLにアクセスしていただくと、宛名入力の画面になりますので、こちらでお客様にご変更いただきます。
							</li>
						</ul>
					</div>
				</div> #}
{#
				<div class="qa__item">
					<div class="qa__item__question">
						<ul>
							<li>Q.</li>
							<li>領収書の分割は、可能ですか？</li>
							<li class="js-qa__accordion__btn">▲</li>
						</ul>
					</div>
					<div class="qa__item__answer">
						<ul>
							<li>A.</li>
							<li>
								はい可能です。<br>
								ただし、システムの領収書の分割発行の機能はございません。 お問い合わせフォームより、決済番号および宛名等のご連絡いただければ、領収書を分割の上、メールいたします。
							</li>
						</ul>
					</div>
				</div> #}

				<div class="qa__item">
					<div class="qa__item__question">
						<ul>
							<li>Q.</li>
							<li>購入した株主優待番号はゴールデンウィーク・夏休み・年末年始などでも使えますか？</li>
							<li class="js-qa__accordion__btn">▲</li>
						</ul>
					</div>
					<div class="qa__item__answer">
						<ul>
							<li>A.</li>
							<li>
								はい使用可能です。<br>
								株主優待割引運賃用の座席に空席があれば、ANAの「株主優待番号ご案内書」もしくは、JALの「株主優待券」の有効期間内でいつでもご利用になれます。
							</li>
						</ul>
					</div>
				</div>

				<div class="qa__btn--product">
					<a href="{{ url('product_list') }}">
						<div class="btn btn--blue">▶ 商品ページへ</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--===== Contents =====-->
{% endblock %}
