<nav class="nav grid">
	{% set name01=app.session.get('customer').name01|default('') %}
	{% set name02=app.session.get('customer').name02|default('') %}
	{% set check=app.session.get('customer').check|default(false) %}
	{% set previous_url=previous_url|default(false) %}

	<ul>
		<li class="grid__col--1">
			<!--<a href="http://www.access-ticket.com/shop/entry/" target="_blank">
				<div class="nav__icon--user"></div>
				<p class="nav__text">会員登録</p>
			</a>
		</li>
		<li class="grid__col--1">
			<div class="nav__icon--login"></div>
			{% if name01 is empty %}
			<a href="{{ url('air_access_login_form') }}">
				<p class="nav__text">ログイン</p>
			</a>
			{% else %}
				<p class="nav__text">ようこそ<br>{{app.session.get('customer').name01}}{{app.session.get('customer').name02}}さん</p>
			{% endif %}
		</li>-->
		<li class="grid__col--1">
			<a href="{{ url('cart') }}">
				<div class="nav__icon--cart"></div>
				<p class="nav__text">買い物カゴ</p>
			</a>
		</li>
		<li class="grid__col--1">
{#
			<a href="http://www.access-ticket.com/inquiry.php" target="_blank">
#}
			<a href="{{ url('contact') }}">
				<div class="nav__icon--contact"></div>
				<p class="nav__text">お問い合わせ</p>
			</a>
		</li>
	</ul>
</nav>
