<header class="header">
	<div class="header__wrapper">
		<div class="header__item">
			<a href="{{ url('top') }}">
				<div class="header__logo"></div>
			</a>
			<div class="header__acount">
				{% set name01=app.session.get('customer').name01|default('') %}
				{% set name02=app.session.get('customer').name02|default('') %}
				{% set previous_url=previous_url|default(false) %}


				{% if name01 is not empty %}
				<p class="header__user">ようこそ{{app.session.get('customer').name01}}{{app.session.get('customer').name02}}さん</p>
				{% else %}
				<p class="header__user">　</p>
				{% endif %}

				<ul>
					<!--<li class="icon--user"><a href="http://www.access-ticket.com/shop/entry/" target=”_blank”>会員登録</a></li>
					{% if name01 is empty %}
						<li class="icon--login"><a href="{{ url('air_access_login_form') }}">ログイン</a></li>
					{% endif %}-->
					<li class="icon--cart"><a href="{{ url('cart') }}">買い物カゴ</a></li>
				</ul>
			</div>
		</div>
		<nav class="nav-bar">
			<div class="nav-bar__wrapper">

				<a href="{{ url('top') }}">
					<div>
						<p class="nav-bar__text">アクセスチケット<br>TOP</p>
					</div>
				</a>

				<a href="{{ url('product_list') }}">
					<div>
						<p class="nav-bar__text">購入ページ</p>
					</div>
				</a>

				<a href="{{ url('notes') }}">
					<div>
						<p class="nav-bar__text">注意事項</p>
					</div>
				</a>

				<a href="{{ url('flow') }}">
					<div>
						<p class="nav-bar__text">購入から搭乗までの流れ</p>
					</div>
				</a>

				<a href="{{ url('qa') }}">
					<div>
						<p class="nav-bar__text">よくある質問</p>
					</div>
				</a>

{#
				<a href="http://www.access-ticket.com/inquiry.php" target=”_blank”>
#}
				<a href="{{ url('contact') }}">
					<div>
						<p class="nav-bar__text">お問い合わせ</p>
					</div>
				</a>

			</div>
		</nav>
	</div>
</header>
<!--===== Header =====-->
