	<footer class="footer">
		<div class="footer__wrapper">
			<ul class="footer__nav grid">
				<li class="grid__col--3">
					<a href="{{ url('top') }}">
						<p>アクセスチケット<br>TOP</p>
					</a>
				</li>
				<li class="grid__col--3">
					<a href="https://access-ticket.com/help/company" target="_blank">
						<p>会社概要</p>
					</a>
				</li>
				<li class="grid__col--3">
					<a href="https://access-ticket.com/help/privacy" target="_blank">
						<p>個人情報<br>保護方針</p>
					</a>
				</li>
				<li class="grid__col--3">
					<a href="https://access-ticket.com/help/tradelaw" target="_blank">
						<p>特定商取引に<br>基づく表記</p>
					</a>
				</li>
			</ul>

			<div class="footer__content">
				<div class="footer__info">
					<p>株式会社　和僑</p>
					<p>
						神奈川県公安委員会許可：第452760007200号
					</p>
				</div>
			</div>

			<div class="footer__copyright">(c)2010-2021 金券ショップ　アクセスチケット</div>
		</div>
	</footer>
	<!--===== Footer =====-->

	<div class="g-menu">
		<div class="g-menu__wrapper">
			<ul>
				<li class="g-menu__item">
					<a href="{{ url('top') }}">
						<div class="g-menu__text">アクセスチケットTOP</div>
					</a>
				</li>
				<li class="g-menu__item">
					<a href="{{ url('product_list') }}">
						<div class="g-menu__text">購入ページ</div>
					</a>
				</li>
				<li class="g-menu__item">
					<a href="{{ url('flow') }}">
						<div class="g-menu__text">購入から搭乗までの流れ</div>
					</a>
				</li>
				<li class="g-menu__item">
					<a href="{{ url('qa') }}">
						<div class="g-menu__text">よくある質問</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--===== Global Menu =====-->

	<header class="header">
		<div class="header__wrapper">
			<div class="header__item">
				<a href="{{ url('top') }}">
					<div class="header__logo"></div>
				</a>
				<div class="header__acount">
					<ul>
						<li class="header__notes">
							<a href="{{ url('notes') }}">
								<div class="notes--icon"></div>
								<p>注意事項</p>
							</a>
						</li>
						<li class="header__trigger">
							<div class="triggerBtn">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<p>メニュー</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!--===== Header =====-->

	<div class="js-triggerBtn--top">
		<div class="icon--top"></div>
		<p>ページトップ</p>
	</div>