<footer class="footer">
	<div class="footer__wrapper">
		<ul class="footer__nav grid">
			<li class="grid__col--3">
				<a href="{{ url('top') }}">
					<p>アクセスチケットTOP</p>
				</a>
			</li>
			<li class="grid__col--3">
				<a href="https://access-ticket.com/help/company" target=”_blank”>
					<p>会社概要</p>
				</a>
			</li>
			<li class="grid__col--3">
				<a href="https://access-ticket.com/help/privacy" target=”_blank”>
					<p>個人情報保護方針</p>
				</a>
			</li>
			<li class="grid__col--3">
				<a href="https://access-ticket.com/help/tradelaw" Target=”_blank”>
					<p>特定商取引法に基づく表記</p>
				</a>
			</li>
		</ul>
		<div class="footer__content">
			<ul class="footer__grid">
				<li class="footer__info">
					<p>株式会社　和僑</p>
					<p>
						神奈川県公安委員会許可：第452760007200号
					</p>
				</li>
				<!--
				<li class="footer__mark">
					<div class="footer__mark--img"></div>
				</li>
				-->
			</ul>
		</div>
	</div>
	<div class="footer__copyright">(c)2010-2021 金券ショップ　アクセスチケット</div>
</footer>
<div class="js-triggerBtn--top">
	<div class="icon--top"></div>
	<p>ページトップ</p>
</div>