{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{{ Order.name01 }} {{ Order.name02 }} 様

{{ header }}

************************************************
　ご請求金額
************************************************

ご注文番号：{{ Order.id }}
お支払い合計：{{ Order.payment_total|price}}
お支払い方法：{{ Order.payment_method }}
{% if Order.Payment.id == 5 %}
{% if GMO is not null %}
{% if GMO.Method == 1 %}
支払区分：一括
{% endif %}
{% if GMO.Method == 2 %}
支払区分：分割
{% endif %}
{% if GMO.Method == 3 %}
支払区分：ボーナス一括
{% endif %}
{% if GMO.Method == 4 %}
支払区分：ボーナス分割
{% endif %}
{% if GMO.Method == 5 %}
支払区分：リボ
{% endif %}
{% if GMO.PayTimes != '' %}
支払回数：{{ GMO.PayTimes }}回
{% endif %}
承認番号：{{ GMO.Approve }}
{% endif %}
{% endif %}
{% if Order.receipt == 1 %}
領収書：あり
{% else %}
領収書：なし
{% endif %}
メッセージ：{{ Order.message }}

************************************************
　ご注文商品明細
************************************************

{% for OrderDetail in Order.OrderDetails %}
商品コード: {{ OrderDetail.product_code }}
商品名: {{ OrderDetail.product_name }}  {{ OrderDetail.classcategory_name1 }}  {{ OrderDetail.classcategory_name2 }}
単価： {{ calc_inc_tax(OrderDetail.price, OrderDetail.tax_rate, OrderDetail.tax_rule)|price }}
数量： {{ OrderDetail.quantity|number_format }}

{% endfor %}

-------------------------------------------------
小　計 {{ Order.subtotal|price }}{% if Order.tax > 0 %}(うち消費税 {{ Order.tax|price }}){% endif %}

============================================
合　計 {{ Order.payment_total|price }}

************************************************
　ご注文者情報
************************************************
お名前　：{{ Order.name01 }} {{ Order.name02 }} 様
フリガナ：{{ Order.kana01 }} {{ Order.kana02 }} 様
電話番号：{{ Order.tel01 }}-{{ Order.tel02 }}-{{ Order.tel03 }}

メールアドレス：{{ Order.email }}

{{ footer }}