{#
Copyright(c) 2015 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% block main %}
    <style type="text/css">
        .small {
            font-size: 80%;
        }

        .caution {
            color: #DE5D50;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .width222 {
            width: 222px;
            display: inline-block;
        }

        .width54 {
            width: 70px;
            display: inline-block;
        }

        .area {
            width: 433px;
            height: 134px;
        }

        .warningError {
            color: #F00;
        }

        .floatLeft {
            float: left;
        }
    </style>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">GMOペイメント設定</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label required">処理区分 <span class='warningError'>*</span></label>

                <div class="col-sm-10 {% if form.JobCd.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.JobCd) }}
                    {{ form_errors(form.JobCd) }}
                    <p class='small'>
                        仮売上(AUTH)・・・カードの与信枠を確保し承認番号を得ること。※仮売上のデータ保持期間は90日です。実売上処理を行わないとカード会社への売上データが作成されません。</p>

                    <p class='small'>即時売上(CAPTURE)・・・カードの与信枠を確保し承認番号を得て、カード会社への売上データの作成依頼をすること。（仮売上+実売上の処理になります 。）</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">支払い種別 <span class='warningError'>*</span></label>

                <div class="col-sm-10 {% if form.credit_pay_methods.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.credit_pay_methods) }}
                    {{ form_errors(form.credit_pay_methods) }}
                    <p class='small'>※有効にする支払い種別を選択して下さい。</p>

                    <p class='small'>※PGマルチペイメントサービスのショップ管理画面にてカード会社契約状況を確認のうえ、ご設定いただきますようお願いします。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">セキュリティコード</label>

                <div class="col-sm-10 {% if form.use_securitycd.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.use_securitycd) }}
                    {{ form_errors(form.use_securitycd) }}
                    <p class='small'>※カード番号の裏面の3～4桁の番号を入力するようにします。</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">セキュリティコードの入力を必須とする</label>

                <div class="col-sm-10{% if form.use_securitycd_option.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.use_securitycd_option) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">本人認証サービス(3Dセキュア)</label>

                <div class="col-sm-10 {% if form.TdFlag.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.TdFlag) }}
                    {{ form_errors(form.TdFlag) }}
                    <p class='small'>※本人認証サービスを使用するにはSSL環境が必要です。</p>

                    <p class='small'>※携帯電話(フューチャーフォン）の場合には通常の決済が実行されます。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">3Dセキュア表示店舗名</label>

                <div class="col-sm-10 {% if form.TdTenantName.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.TdTenantName) }}<span class='caution'>（半角英数18文字以内で入力）</span>
                    {{ form_errors(form.TdTenantName) }}
                    <p class='small'>※本人認証サービスを利用しない場合、入力は不要です。</p>

                    <p class='small'>設定した店舗名は、本人認証サービスのパスワード入力画面に表示する店舗名になります。</p>

                    <p class='small'>日本語を設定された場合（特に全角）、文字の組み合わせによっては文字化けを起こす、もしくはエラーとなり決済できないことがございます。</p>

                    <p class='small'>3Dセキュア表示店舗名には、可能でしたら半角にて設定いただき、十分な検証をおこなっていただくことを推奨いたします。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">入力回数制限</label>

                <div class="col-sm-10 {% if form.use_limit.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.use_limit) }}
                    {{ form_errors(form.use_limit) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">入力回数制限 検出時間</label>

                <div class="col-sm-10 {% if form.limit_min.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.limit_min) }} 分 <span class='caution'>（半角数字で入力）</span>
                    {{ form_errors(form.limit_min) }}
                    <p class='small'>※入力回数制限を利用しない場合、入力は不要です。</p>
                    <p class='small'>※指定した検出時間内に決済エラーが発生した場合、エラー回数を加算します。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">入力回数制限 エラー上限回数</label>

                <div class="col-sm-10 {% if form.limit_count.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.limit_count) }} 回 <span class='caution'>（半角数字で入力）</span>
                    {{ form_errors(form.limit_count) }}
                    <p class='small'>※入力回数制限を利用しない場合、入力は不要です。</p>
                    <p class='small'>※指定したエラー上限回数に達した場合、クレジットロック画面を表示します。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">入力回数制限 ロック時間</label>

                <div class="col-sm-10 {% if form.lock_min.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.lock_min) }} 分 <span class='caution'>（半角数字で入力）</span>
                    {{ form_errors(form.lock_min) }}
                    <p class='small'>※入力回数制限を利用しない場合、入力は不要です。</p>
                    <p class='small'>※エラー上限回数に達した場合のロック時間を設定します。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">決済完了案内タイトル</label>

                <div class="col-sm-10 {% if form.order_mail_title1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.order_mail_title1) }}<span class='caution'>（上限50文字）</span>
                    {{ form_errors(form.order_mail_title1) }}
                    <p class='small'>ご注文完了画面とご注文完了メールに、支払いに関する案内文を入れる場合にはタイトルと本文を入れて下さい。(両方入っていない場合は有効になりません。)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">決済完了案内本文</label>

                <div class="col-sm-10 {% if form.order_mail_body1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.order_mail_body1) }}<span class='caution'>（上限1000文字）</span>
                    {{ form_errors(form.order_mail_body1) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">自由項目1</label>

                <div class="col-sm-10 {% if form.ClientField1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.ClientField1) }}<span class='caution'>（上限100文字）</span>
                    {{ form_errors(form.ClientField1) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">自由項目2</label>

                <div class="col-sm-10 {% if form.ClientField2.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.ClientField2) }}<span class='caution'>（上限100文字）</span>
                    {{ form_errors(form.ClientField2) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
