{#
Copyright(c) 2016 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% block main %}
    <style type="text/css">
        .small {
            font-size: 80%;
        }

        .caution {
            color: #DE5D50;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .width222 {
            width: 222px;
            display: inline-block;
        }

        .width54 {
            width: 70px;
            display: inline-block;
        }

        .area {
            width: 433px;
            height: 134px;
        }

        .warningError {
            color: #F00;
        }

        .floatLeft {
            float: left;
        }
    </style>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">GMOペイメント設定</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label required">処理区分 <span class='warningError'>*</span></label>

                <div class="col-sm-10 {% if form.JobCd.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.JobCd) }}
                    {{ form_errors(form.JobCd) }}
                    <p class='small'>
                        仮売上(AUTH)・・・カードの与信枠を確保し承認番号を得ること。※仮売上のデータ保持期間は90日です。実売上処理を行わないとカード会社への売上データが作成されません。</p>

                    <p class='small'>即時売上(CAPTURE)・・・カードの与信枠を確保し承認番号を得て、カード会社への売上データの作成依頼をすること。（仮売上+実売上の処理になります 。）</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">ドコモ表示項目１</label>

                <div class="col-sm-10 {% if form.DocomoDisp1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.DocomoDisp1) }}<span class='caution'>（上限40文字）</span>
                    {{ form_errors(form.DocomoDisp1) }}
                    <p class='small'>※spモードの場合のみ、以下のドコモケータイ払い画面に表示されます。</p>
                    <p class='small'>・決済内容確認画面</p>
                    <p class='small'>・利用明細</p>
                    <p class='small'>商品の詳細説明や、お客様へのメッセージなどにご使用下さい。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">ドコモ表示項目２</label>

                <div class="col-sm-10 {% if form.DocomoDisp2.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.DocomoDisp2) }}<span class='caution'>（上限40文字）</span>
                    {{ form_errors(form.DocomoDisp2) }}
                    <p class='small'>※spモードの場合のみ、以下のドコモケータイ払い画面に表示されます。</p>
                    <p class='small'>・決済内容確認画面</p>
                    <p class='small'>・利用明細</p>
                    <p class='small'>商品の詳細説明や、お客様へのメッセージなどにご使用下さい。</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">決済完了案内タイトル</label>

                <div class="col-sm-10 {% if form.order_mail_title1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.order_mail_title1) }}<span class='caution'>（上限50文字）</span>

                    <p class='small'>ご注文完了画面とご注文完了メールに、支払いに関する案内文を入れる場合にはタイトルと本文を入れて下さい。(両方入っていない場合は有効になりません。)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">決済完了案内本文</label>

                <div class="col-sm-10 {% if form.order_mail_body1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.order_mail_body1) }} <span class='caution'>（上限1000文字）</span>
                    {{ form_errors(form.order_mail_body1) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label required">自由項目1</label>

                <div class="col-sm-10 {% if form.ClientField1.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.ClientField1) }}<span class='caution'>（上限100文字）</span>
                    {{ form_errors(form.ClientField1) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label required">自由項目2</label>

                <div class="col-sm-10 {% if form.ClientField2.vars.errors is not empty %}has-error{% endif %}">
                    {{ form_widget(form.ClientField2) }}<span class='caution'>（上限100文字）</span>
                    {{ form_errors(form.ClientField2) }}
                </div>
            </div>

            {{ form_widget(form.RetURL) }}
            {{ form_widget(form.Version) }}

        </div>
    </div>
{% endblock %}
