{#
Copyright(c) 2015 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
    <script type="text/javascript">

        self.moveTo(20, 20);
        self.focus();

        function win_open(URL) {
            var WIN;
            WIN = window.open(URL);
            WIN.focus();
        }

        function site_win() {
            var server_url = document.form1.config_kanri_server_url.value;
            server_url = server_url.replace(/kanri/g, "mulpayconsole");
            if (server_url == '') {
                alert("管理画面サーバURLを設定してください。");
                return;
            }
            var site_id = document.form1.config_site_id.value;
            if (site_id == '') {
                alert("サイトIDを設定してください。");
                return;
            }

            var WIN;
            WIN = window.open(server_url + 'site/' + site_id);
            WIN.focus();
        }

        function shop_win() {
            var server_url = document.form1.config_kanri_server_url.value;
            server_url = server_url.replace(/kanri/g, "mulpayconsole");
            if (server_url == '') {
                alert("管理画面サーバURLを設定してください。");
                return;
            }
            var shop_id = document.form1.config_ShopID.value;
            if (shop_id == '') {
                alert("ショップIDを設定してください。");
                return;
            }

            var WIN;
            WIN = window.open(server_url + 'shop/' + shop_id);
            WIN.focus();
        }

        function connect_select() {
            var connect_type = $("input:radio[name='config[connect_server_type]']:checked").val();
            if (connect_type == '3') {
                $('#config_server_url').parents('.form-group').show();
                $('#config_kanri_server_url').parents('.form-group').show();
            } else {
                $('#config_server_url').parents('.form-group').hide();
                $('#config_kanri_server_url').parents('.form-group').hide();
            }
        }

        $(function () {
            connect_select();
            $("input:radio[name='config[connect_server_type]']").change(function () {
                connect_select();
            });
        });

    </script>
{% endblock %}

{% block title %}{{ tpl_subtitle }}{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" novalidate class="form-horizontal" id="point_form" method="post" action="">
            {{ form_widget(form._token) }}
            <div class="col-md-9">

                <div class="box">
                    <div class="box-body">
                        <div>
                            {{ app.config.GmoPaymentGateway.const.PG_MULPAY_MODULE_NAME }}
                            をご利用頂く為には{{ app.config.GmoPaymentGateway.const.PG_MULPAY_COMPANY_NAME }}と
                            ご契約を行っていただく必要があります。</br>
                            <span><a href="http://www.gmo-pg.com/?argument=2qpV46CP&dmai=a5177c923cb929" target="_blank">
                                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:10px;">
                                        PGマルチペイメントサービスについて
                                    </button>
                                </a></span>
                        </div>
                        <div>
                            ご希望の方は、以下のURLよりテスト環境を申し込むことで、テスト運用に必要なアカウント情報を取得することが出来ます。</br>
                            <span><a href="https://service.gmo-pg.com/cyllene/entry/trialStart.htm?argument=2qpV46CP&dmai=a5177c98d5464d" target="_blank">
                                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:10px;">
                                        テストアカウントについて
                                    </button>
                                </a></span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">設定</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label required ">接続先<span
                                    class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.connect_server_type.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.connect_server_type) }}
                                {{ form_errors(form.connect_server_type) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">接続先サーバーURL<span class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.server_url.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.server_url) }}
                                {{ form_errors(form.server_url) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">管理画面サーバーURL<span
                                    class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.kanri_server_url.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.kanri_server_url) }}
                                {{ form_errors(form.kanri_server_url) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">サイトID<span
                                    class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.site_id.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.site_id) }}
                                {{ form_errors(form.site_id) }}
                                <p class='small'>*PGマルチペイメントサービスの管理画面にログインするIDとは異なりますので、ご注意ください。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">サイトパスワード<span
                                    class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.site_pass.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.site_pass) }}
                                {{ form_errors(form.site_pass) }}
                                <p class='small'>*PGマルチペイメントサービスの管理画面にログインするパスワードとは異なりますので、ご注意ください。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">ショップID<span
                                    class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.ShopID.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.ShopID) }}
                                {{ form_errors(form.ShopID) }}
                                <p class='small'>*PGマルチペイメントサービスの管理画面にログインするIDとは異なりますので、ご注意ください。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">ショップパスワード<span class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.ShopPass.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.ShopPass) }}
                                {{ form_errors(form.ShopPass) }}
                                <p class='small'>*PGマルチペイメントサービスの管理画面にログインするパスワードとは異なりますので、ご注意ください。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">有効にする決済方法<span class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.enable_payment_type.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.enable_payment_type) }}
                                {{ form_errors(form.enable_payment_type) }}
                                <p class='small'>*決済方法毎の詳細設定は有効後に支払方法設定画面で行います。</p>
                            </div>
                        </div>
                        <div id="credit_option">
                            <div id="config_credit_token" class="form-group">
                                <label class="col-sm-2 control-label required"> 認証方式<span class="text-danger"> *</span></label>

                                <div class="col-sm-10 {% if form.credit_token.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.credit_token) }}
                                    {{ form_errors(form.credit_token) }}
                                    <p class='small'>*クレジット決済をご利用の場合、認証方式を選択してください。</p>
                                </div>
                            </div>
                            <div id="config_card_regist" class="form-group">
                                <label class="col-sm-2 control-label required"> カード情報登録<span class="text-danger"> *</span></label>
                                <div class="col-sm-10 {% if form.card_regist_flg.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.card_regist_flg) }}
                                    {{ form_errors(form.card_regist_flg) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">GMOメンバーID再発行時処理件数<span class="text-danger"> *</span></label>

                            <div class="col-sm-10 {% if form.member_max_process.vars.errors is not empty %}has-error{% endif %}">
                                {{ form_widget(form.member_max_process) }}
                                {{ form_errors(form.member_max_process) }}
                                <p class='small'>*GMOメンバーIDの再発行を行う際の処理件数を設定してください。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">その他情報</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">結果通知プログラムURL</label>

                            <div class="col-sm-10">
                                <p>{{ recv_url }}</p>

                                <p class='small'>
                                    ショップ管理画面よりログインして頂き、タブ「ショップの管理」＞タブ「メール/結果通知設定」で結果通知プログラムURLに設定してください。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">サイト管理</label>

                            <div class="col-sm-10">
                                <span><button type="button" class="btn btn-default btn-sm"
                                              onclick="javascript:void(site_win());" style="margin-bottom:10px;">サイト管理画面
                                    </button></span>

                                <p class='small'></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">ショップ管理</label>

                            <div class="col-sm-10">
                                <span><button type="button" class="btn btn-default btn-sm"
                                              onclick="javascript:void(shop_win());" style="margin-bottom:10px;">
                                        ショップ管理画面
                                    </button></span>

                                <p class='small'></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">GMOメンバーID管理</label>

                            <div class="col-sm-10">
                                <span><button type="button" class="btn btn-default btn-sm" onclick="location.href='{{ path('plugin_GmoPaymentGateway_member')}}'" style="margin-bottom:10px;">
                                    GMOメンバーID管理
                                </button></span>

                                <p class='small'>GMOメンバーIDの重複会員のチェックを行います。</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">
                                        この内容で登録する
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </form>
    </div>
    <!-- Add jquery lib -->

    <script type="text/javascript">
        $(function () {
            showEle('#config_enable_payment_type_0', '#credit_option');
        });
        function showEle(eleTarget, eleToggle) {
            $(eleToggle).toggle($(eleTarget).prop("checked"));
            $(eleTarget).on('click', function () {
                $(eleToggle).toggle($(this).prop("checked"));
            });
        }

    </script>

{% endblock %}
